BODY {
	MARGIN: 0px; FONT-FAMILY: "ו"
}
.css {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 25px
}
.huang {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fe3700
}
.lan {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0067cc; TEXT-DECORATION: none
}
.lv {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #009933; TEXT-DECORATION: none
}
