BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: "ו",arial
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; HEIGHT: 0px
}
A:link {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
A:visited {
	COLOR: #535353; TEXT-DECORATION: none
}
A:hover {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
A:active {
	COLOR: #bc2931
}
.globalMenu {
	MARGIN: 0px auto; WIDTH: 1002px; HEIGHT: auto
}
.ContentSection {
	BACKGROUND: url(../images/content-bg1.gif) no-repeat; MARGIN: 0px auto; WIDTH: 1002px; HEIGHT: 1170px
}
.LeftContent {
	FLOAT: left; WIDTH: 290px; HEIGHT: auto
}
.RightContent {
	FLOAT: right; WIDTH: 700px
}
.passport {
	MARGIN-TOP: 20px; BACKGROUND: url(../images/passport-bg.gif) no-repeat; MARGIN-LEFT: 55px; WIDTH: 230px; COLOR: #595758; HEIGHT: 133px
}
.AdFlash {
	PADDING-TOP: 25px
}
.pen {
	MARGIN-TOP: 15px; FONT-WEIGHT: bolder; BACKGROUND: url(../images/pan.gif) no-repeat; MARGIN-LEFT: 30px; COLOR: #ff6000; TEXT-INDENT: 30px; LINE-HEIGHT: 35px; HEIGHT: 35px
}
.introduction {
	MARGIN-LEFT: 50px; WIDTH: 240px; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none
}
.introduction A:link {
	COLOR: #ff6000; TEXT-DECORATION: none
}
.introduction A:visited {
	COLOR: #ff6000; TEXT-DECORATION: none
}
.introduction A:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.introduction A:active {
	COLOR: #666666
}
.c1 {
	PADDING-LEFT: 10px; COLOR: #595758; TEXT-INDENT: 10px; LINE-HEIGHT: 18px
}
.c2 {
	COLOR: #ff6000; MARGIN-RIGHT: 4px; TEXT-ALIGN: right
}
.c3 {
	COLOR: #ff6000
}
.c4 {
	COLOR: #2c9d9b
}
.c4 A:link {
	COLOR: #2c9d9b; TEXT-DECORATION: none
}
.c4 A:visited {
	COLOR: #2c9d9b; TEXT-DECORATION: none
}
.c4 A:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.c4 A:active {
	COLOR: #666666
}
.AdLeft {
	MARGIN-TOP: 10px; MARGIN-LEFT: 55px; TEXT-ALIGN: center
}
.ButtomSection {
	MARGIN: 10px auto 0px; WIDTH: 1002px; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; HEIGHT: 70px
}
