BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #e0e2e7; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #eeeeee; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #aaaaaa; SCROLLBAR-ARROW-COLOR: #aaaaaa; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #eeeeee; FONT-FAMILY: "ו", "Helvetica", "sans-serif"; SCROLLBAR-DARKSHADOW-COLOR: #888888; TEXT-ALIGN: center
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TABLE {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
INPUT {
	BORDER-TOP-WIDTH: 1px; CLEAR: both; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; MARGIN: 0px; BORDER-TOP-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 0px; BORDER-TOP-COLOR: #cccccc; LINE-HEIGHT: 150%; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
DIV {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
UL {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
LI {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
P {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
DL {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
DT {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
DD {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
TEXTAREA {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
ADDRESS {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
BLOCKQUOTE {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: left
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; HEIGHT: 1%
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #336666; TEXT-DECORATION: none
}
A:visited {
	COLOR: #336666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.white {
	COLOR: #fff
}
.red {
	COLOR: #f00
}
H3 {
	FONT-SIZE: 14px; FLOAT: left; MARGIN: 0px; WIDTH: 185px; COLOR: #fff
}
H1 {
	DISPLAY: inline; FONT-SIZE: 14px
}
.littleCss {
	FONT-SIZE: 11px; COLOR: #555; FONT-FAMILY: Pmingliu,verdana,arial,sans-serif
}
A.ph2:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.ph2:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.ph2:hover {
	FONT-SIZE: 12px; COLOR: #f00; TEXT-DECORATION: none
}
A.ph1:link {
	FONT-SIZE: 12px; COLOR: #336666; TEXT-DECORATION: none
}
A.ph1:visited {
	FONT-SIZE: 12px; COLOR: #599553; TEXT-DECORATION: none
}
A.ph1:hover {
	FONT-SIZE: 12px; COLOR: #f00; TEXT-DECORATION: none
}
A.ph14 {
	FONT-SIZE: 14px; COLOR: #336666; TEXT-DECORATION: none
}
A.ph14:hover {
	FONT-SIZE: 14px; COLOR: #f00; TEXT-DECORATION: none
}
A.gray14 {
	FONT-SIZE: 14px; COLOR: #aaa; TEXT-DECORATION: none
}
A.ph3:link {
	FONT-SIZE: 12px; COLOR: #008000; TEXT-DECORATION: none
}
A.ph3:visited {
	FONT-SIZE: 12px; COLOR: #008000; TEXT-DECORATION: none
}
A.ph3:hover {
	FONT-SIZE: 12px; COLOR: #f00; TEXT-DECORATION: none
}
A.ph:link {
	FONT-SIZE: 12px; COLOR: #b30; TEXT-DECORATION: none
}
A.ph:visited {
	FONT-SIZE: 12px; COLOR: #b30; TEXT-DECORATION: none
}
A.ph:hover {
	FONT-SIZE: 12px; COLOR: #f00; TEXT-DECORATION: none
}
A.lg:link {
	FONT-SIZE: 12px; COLOR: #888; TEXT-DECORATION: none
}
A.lg:visited {
	FONT-SIZE: 12px; COLOR: #888; TEXT-DECORATION: none
}
A.lg:hover {
	FONT-SIZE: 12px; COLOR: #f00; TEXT-DECORATION: none
}
A.navOut:link {
	FONT-SIZE: 14px; COLOR: #fff; TEXT-DECORATION: none
}
A.navOut:visited {
	FONT-SIZE: 14px; COLOR: #fff; TEXT-DECORATION: none
}
A.navOut:hover {
	FONT-SIZE: 14px; COLOR: #f00; TEXT-DECORATION: none
}
A.navOn:link {
	FONT-SIZE: 14px; COLOR: #000; TEXT-DECORATION: none
}
A.navOn:visited {
	FONT-SIZE: 14px; COLOR: #000; TEXT-DECORATION: none
}
A.navOn:hover {
	FONT-SIZE: 14px; COLOR: #f00; TEXT-DECORATION: none
}
.loadingdiv {
	BORDER-RIGHT: #f30 1px solid; BORDER-TOP: #f30 1px solid; Z-INDEX: 130; VERTICAL-ALIGN: middle; BORDER-LEFT: #f30 1px solid; WIDTH: 180px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #f30 1px solid; POSITION: absolute; HEIGHT: auto; BACKGROUND-COLOR: #fff
}
.loadingtext {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: auto; COLOR: #f30
}
.errordiv {
	BORDER-RIGHT: #df5104 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #df5104 1px solid; PADDING-LEFT: 30px; Z-INDEX: 100; BACKGROUND: url(../../image/err.gif) #feeede no-repeat 3px 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #df5104 1px solid; WIDTH: auto; COLOR: red; LINE-HEIGHT: 23px; BORDER-BOTTOM: #df5104 1px solid; POSITION: absolute; HEIGHT: 23px
}
.reqerr {
	BORDER-RIGHT: #df5104 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #df5104 1px solid; PADDING-LEFT: 30px; BACKGROUND: url(../../image/err.gif) #feeede no-repeat 3px 2px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; BORDER-LEFT: #df5104 1px solid; WIDTH: auto; PADDING-TOP: 5px; BORDER-BOTTOM: #df5104 1px solid; HEIGHT: auto
}
.infolabel {
	FONT-WEIGHT: bold; COLOR: red
}
.mypager {
	FONT-SIZE: 12px; MARGIN: 0px 3px 3px 0px; WIDTH: auto; TEXT-ALIGN: center
}
A.mypager:visited {
	TEXT-DECORATION: none
}
A.mypager:link {
	TEXT-DECORATION: none
}
A.mypager:hover {
	TEXT-DECORATION: underline
}
.pagego {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(../../image/sjbtn.gif) #fff repeat-x; MARGIN: 0px auto auto 2px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 18px
}
.pageinput {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; BORDER-LEFT: #000 1px solid; WIDTH: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 16px; BACKGROUND-COLOR: #fff
}
.floatDiv {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1px; Z-INDEX: 1000; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; WIDTH: auto; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; HEIGHT: auto; BACKGROUND-COLOR: #fff
}
.pagecover {
	Z-INDEX: 100; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #000
}
.pagedialog {
	BORDER-RIGHT: #fff 4px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 4px solid; PADDING-LEFT: 0px; Z-INDEX: 110; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 4px solid; WIDTH: 400px; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 4px solid; POSITION: absolute; HEIGHT: auto; BACKGROUND-COLOR: #bbb
}
.divUploadCss {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; Z-INDEX: 1000; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 300px; CURSOR: move; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; HEIGHT: 25px; BACKGROUND-COLOR: #fff
}
.imgdiv {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; BACKGROUND: #bbb; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 126px; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: auto; TEXT-ALIGN: center
}
