BODY {
	FONT-SIZE: 12px; BACKGROUND: url(../images/recruit_05.gif) #d7f5ff repeat-x 0px 0px; MARGIN: 0px auto; WIDTH: 980px; COLOR: #333; LINE-HEIGHT: 21px; FONT-FAMILY: Arial,"????", Helvetica, sans-serif; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00
}
TR {
	VERTICAL-ALIGN: top
}
.clear {
	CLEAR: both
}
.search_top {
	BACKGROUND: url(../images/logo-bg.jpg) repeat-x 0px 0px; HEIGHT: 37px
}
.title_logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 50px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
.title_font {
	PADDING-RIGHT: 25px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.title_font A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.content {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; MARGIN: 0px 18px; OVERFLOW: auto; PADDING-TOP: 5px; ZOOM: 1; TEXT-ALIGN: left
}
.reLeft {
	FLOAT: left; WIDTH: 480px
}
.LeftOne {
	BACKGROUND: url(../images/1.gif) no-repeat left top; COLOR: #0175ae
}
.LeftOne DL {
	PADDING-BOTTOM: 7px
}
.LeftOne-weight {
	FONT-WEIGHT: bold
}
.LeftTwo {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/recruit_31.gif) no-repeat 0px 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 225px
}
.LeftTwo TABLE {
	MARGIN: 5px 0px
}
.LeftTwo TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #0084c8; PADDING-TOP: 3px
}
.TwoColor {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; COLOR: #f60
}
.reRight {
	BACKGROUND: url(../images/2.gif) no-repeat 50% bottom; FLOAT: right; WIDTH: 400px
}
.node DT {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #e1f3f9; PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}
.node DD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WORD-BREAK: keep-all; PADDING-TOP: 5px; WORD-WRAP: break-word
}
.node-title {
	DISPLAY: block; FLOAT: left; WIDTH: 180px
}
.RightArea {
	BORDER-RIGHT: #c00 1px solid; BORDER-TOP: #c00 1px solid; BACKGROUND: #fdfdd1; MARGIN: 5px 0px; BORDER-LEFT: #c00 1px solid; WIDTH: 270px; BORDER-BOTTOM: #c00 1px solid
}
.page_main {
	PADDING-LEFT: 100px; FONT-SIZE: 12px; MARGIN: 5px 0px; COLOR: #0b66c2; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.page_main A {
	COLOR: #0b66c2
}
.page_main A:hover {
	COLOR: #f60
}
.page_main UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; PADDING-TOP: 0px; ZOOM: 1; LIST-STYLE-TYPE: none
}
.page_main UL LI {
	FLOAT: left; MARGIN: 0px 3px; LINE-HEIGHT: 22px
}
.page_main UL LI IMG {
	MARGIN-TOP: 5px
}
.page_main UL LI A.unsel {
	BORDER-RIGHT: #5c9cdc 1px solid; BORDER-TOP: #5c9cdc 1px solid; DISPLAY: block; BORDER-LEFT: #5c9cdc 1px solid; WIDTH: 15px; COLOR: #0b66c2; LINE-HEIGHT: 15px; BORDER-BOTTOM: #5c9cdc 1px solid; HEIGHT: 15px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.page_main UL LI A.unsel:hover {
	BACKGROUND-COLOR: #e0f5fe
}
.page_main UL LI A.sel {
	BORDER-RIGHT: #ff8a00 1px solid; BORDER-TOP: #ff8a00 1px solid; DISPLAY: block; BORDER-LEFT: #ff8a00 1px solid; WIDTH: 15px; COLOR: #ff8a00; LINE-HEIGHT: 15px; BORDER-BOTTOM: #ff8a00 1px solid; HEIGHT: 15px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.page_main UL LI A.sel:hover {
	BACKGROUND-COLOR: #ffeedd
}
.bt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.foot {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.store_cory {
	PADDING-LEFT: 45px
}
.E-mail {
	PADDING-LEFT: 160px; HEIGHT: 300px
}
.emil {
	BORDER-RIGHT: #b0e4f6 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b0e4f6 1px solid; PADDING-LEFT: 10px; BACKGROUND: #dff6fe; PADDING-BOTTOM: 10px; BORDER-LEFT: #b0e4f6 1px solid; WIDTH: 600px; PADDING-TOP: 10px; BORDER-BOTTOM: #b0e4f6 1px solid; TEXT-ALIGN: left
}
