BODY {
	FONT-SIZE: 12px; MARGIN: 0px; FONT-FAMILY: ??, Arial, Helvetica, sans-serif
}
.text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; COLOR: #5e5e5e; LINE-HEIGHT: 19px; TEXT-DECORATION: none
}
.text A:link {
	COLOR: #2e5bdf; TEXT-DECORATION: none
}
.text A:visited {
	COLOR: #663399; TEXT-DECORATION: none
}
.text A:hover {
	COLOR: #ff6600
}
.text1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #5e5e5e; LINE-HEIGHT: 19px; TEXT-DECORATION: none
}
.text1 A:link {
	COLOR: #2e5bdf; TEXT-DECORATION: none
}
.text1 A:visited {
	COLOR: #663399; TEXT-DECORATION: none
}
.text1 A:hover {
	COLOR: #ff6600
}
.text2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; COLOR: #999999; LINE-HEIGHT: 19px; TEXT-DECORATION: none
}
.text2 A:link {
	COLOR: #999999; TEXT-DECORATION: none
}
.text2 A:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
.text2 A:hover {
	COLOR: #ff6600
}
.text3 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 12px; COLOR: #5e5e5e; LINE-HEIGHT: 19px; TEXT-DECORATION: none
}
.text3 A:link {
	COLOR: #2e5bdf; TEXT-DECORATION: none
}
.text3 A:visited {
	COLOR: #663399; TEXT-DECORATION: none
}
.text3 A:hover {
	COLOR: #ff6600
}
.text4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; COLOR: #959492; LINE-HEIGHT: 19px; TEXT-DECORATION: none
}
.text4 A:link {
	COLOR: #959492
}
.text4 A:visited {
	COLOR: #959492; TEXT-DECORATION: none
}
.text4 A:hover {
	COLOR: #ff6600
}
.text5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; COLOR: #43536c; LINE-HEIGHT: 19px; TEXT-DECORATION: none
}
.text5 A:link {
	COLOR: #43536c
}
.text5 A:visited {
	COLOR: #43536c; TEXT-DECORATION: none
}
.text5 A:hover {
	COLOR: #ff6600
}
.text6 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 19px; TEXT-DECORATION: none
}
.text6 A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.text6 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.text6 A:hover {
	COLOR: #ff6600
}
.text7 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
.text7 A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.text7 A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.text7 A:hover {
	COLOR: #ff6600
}
.text8 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
.text8 A:link {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.text8 A:visited {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.text8 A:hover {
	COLOR: #000000
}
.text9 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fe0000; LINE-HEIGHT: 19px; TEXT-DECORATION: none
}
.text9 A:link {
	COLOR: #fe0000; TEXT-DECORATION: none
}
.text9 A:visited {
	COLOR: #fe0000; TEXT-DECORATION: none
}
.text9 A:hover {
	COLOR: #000000
}
H2 {
	COLOR: #333
}
A:visited {
	COLOR: #03c; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
A:link {
	COLOR: #03c; TEXT-DECORATION: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	MARGIN: 0px; LINE-HEIGHT: 22px
}
#GuideBar {
	FONT-SIZE: 12px; MARGIN: 0px 0px 0px 10px; COLOR: #959492; TEXT-DECORATION: none
}
#GuideBar SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000
}
#GuideBar A:link {
	COLOR: #959492
}
#GuideBar A:visited {
	COLOR: #959492; TEXT-DECORATION: none
}
#GuideBar A:hover {
	COLOR: #ff6600
}
.boxMidRt {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(../images/boxMidRt.gif) repeat-y right top; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 0px
}
.boxMid {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/boxMidLeft.gif) repeat-y left top; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.clearAll {
	CLEAR: both; FONT-SIZE: 1px; WIDTH: 1px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.boxTop {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/boxTopLeft2.gif) no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.boxTopRt {
	PADDING-RIGHT: 10px; BACKGROUND: url(../images/boxTopRt7.gif) no-repeat right top; MARGIN: 0px 0px 0px 10px
}
.boxTopRt H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-WEIGHT: 500; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 12px; BORDER-BOTTOM: #ccc 3px double; BORDER-RIGHT-WIDTH: 0px
}
.detail {
	BORDER-RIGHT: #cecece 1px solid; BORDER-TOP: #cecece 1px solid; MARGIN: 8px; BORDER-LEFT: #cecece 1px solid; BORDER-BOTTOM: #cecece 1px solid; TEXT-ALIGN: center
}
.detail LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.detail A:hover {
	COLOR: #f60
}
.detail A {
	FONT-SIZE: 14px; COLOR: #959492
}
.detail A:visited {
	COLOR: #959492
}
.relatedShop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BORDER-BOTTOM: #cecece 1px dashed
}
.boxBtm2 {
	BACKGROUND: url(../images/boxBtmLeft.gif) no-repeat left bottom
}
.boxBtmRt {
	PADDING-RIGHT: 10px; FONT-SIZE: 1px; BACKGROUND: url(../images/boxBtmRt5.gif) no-repeat right bottom; MARGIN: 0px 0px 0px 10px; HEIGHT: 10px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.saiHght {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #f0f0f0 1px solid; HEIGHT: 20px
}
.Content {
	FONT-SIZE: 12px; TEXT-INDENT: 2em
}
.OldPrice {
	TEXT-DECORATION: line-through
}
.CurrentPrice {
	BACKGROUND-COLOR: #e6ffdd
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.Column {
	PADDING-LEFT: 20px; WIDTH: auto
}
.Column TD {
	BORDER-BOTTOM: #cecece 1px dashed
}
.Column UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 12px 5px 12px 25px; PADDING-TOP: 0px
}
.Column LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-TOP: 1px; LIST-STYLE-TYPE: none
}
#logo {
	FLOAT: left
}
#logo SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.homeScr .searchMain {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 130%; BACKGROUND: url(../images/searchBarLeft.jpg) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #333; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; min-width: 740px
}
.homeScr .schHook {
	BACKGROUND: url(../images/searchBarRight.jpg) no-repeat right top; TEXT-ALIGN: center
}
.homeScr .search {
	BACKGROUND: url(../images/searchBarBg.jpg) repeat-x left top; MARGIN: 0px 15px 0px 12px; TEXT-ALIGN: center
}
.navArea {
	CLEAR: both; FONT-SIZE: 100%; BACKGROUND: url(../images/navBarMid.gif) #330099 repeat-x left top; WIDTH: 100%; LINE-HEIGHT: normal; WHITE-SPACE: nowrap; min-width: 740px
}
.navHook {
	BACKGROUND: url(../images/navBarLeft.gif) no-repeat left top; WIDTH: 100%
}
.nav {
	FONT-WEIGHT: 600; BACKGROUND: url(../images/navBarRight.gif) no-repeat right top; WIDTH: 100%; COLOR: #fff; LINE-HEIGHT: 27px
}
.nav A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.nav A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.nav A:active {
	COLOR: #fff; TEXT-DECORATION: none
}
.nav A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.tabs TD {
	MARGIN: 0px; WHITE-SPACE: nowrap; LETTER-SPACING: 4px
}
.tabs TD.sep {
	BACKGROUND: url(../images/tabDivideOff.gif) no-repeat 0px 8px; WHITE-SPACE: nowrap
}
.tabs A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
.tabSel {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: url(../images/tabLeftOn.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tabSel A {
	BACKGROUND: url(../images/tabRightOn.gif) no-repeat right top
}
.tabSel A:link {
	COLOR: #333; BACKGROUND-COLOR: #fff
}
.tabSel A:visited {
	COLOR: #333; BACKGROUND-COLOR: #fff
}
.tabSel A:active {
	COLOR: #333; BACKGROUND-COLOR: #fff
}
.tabSel A:hover {
	COLOR: #333; BACKGROUND-COLOR: #fff
}
.siteMap A:link {
	FONT-WEIGHT: 400; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.siteMap A:visited {
	FONT-WEIGHT: 400; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.siteMap A:active {
	FONT-WEIGHT: 400; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.siteMap A:hover {
	FONT-WEIGHT: 400; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.searchMain {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/searchBarLeft.jpg) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #333; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; min-width: 740px
}
.schHook {
	BACKGROUND: url(../images/searchBarRight.jpg) no-repeat right top; TEXT-ALIGN: center
}
.search {
	BACKGROUND: url(../images/searchBarBg.jpg) repeat-x left top; MARGIN: 0px 15px 0px 12px; PADDING-TOP: 15px; HEIGHT: 50px; TEXT-ALIGN: center
}
.search IMG {
	VERTICAL-ALIGN: middle
}
.search INPUT {
	FONT-SIZE: 16px; VERTICAL-ALIGN: middle; HEIGHT: 22px
}
.search SPAN {
	MARGIN: 0px 5px; VERTICAL-ALIGN: middle; HEIGHT: 22px
}
.search .keyword {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 2px; BORDER-BOTTOM: #f0f0f0 1px solid; HEIGHT: 19px
}
.search .btnSearch {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/BtnSearch.jpg); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 66px; HEIGHT: 31px; BORDER-RIGHT-WIDTH: 0px
}
.footMainBar {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 2px; BACKGROUND: url(../images/blueThinFlatLeft.gif) no-repeat left top; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 12px; min-width: 740px
}
.footMainBar .footHook {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/blueThinFlatRight.gif) no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 12px
}
.footBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/blueThinMid.gif) repeat-x left top; PADDING-BOTTOM: 0px; MARGIN: 0px 7px; PADDING-TOP: 0px; HEIGHT: 12px
}
.searchFoot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: 700; FONT-SIZE: 120%; BACKGROUND: url(../images/searchFootLeft.jpg) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #333; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 53px; TEXT-ALIGN: center; min-width: 740px
}
.searchFoot .schHook {
	BACKGROUND: url(../images/searchFootRight.jpg) no-repeat right top; HEIGHT: 53px
}
.searchFoot .search {
	BACKGROUND: url(../images/searchFootMid.jpg) repeat-x left top; MARGIN: 0px 7px; HEIGHT: 53px
}
.footLogo {
	COLOR: #959492; TEXT-ALIGN: center
}
.footLogo A:link {
	COLOR: #959492
}
.footLogo A:visited {
	COLOR: #959492; TEXT-DECORATION: none
}
.footLogo A:hover {
	COLOR: #ff6600
}
.boxTableTop {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-WEIGHT: 400; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 12px; BORDER-BOTTOM: #ccc 3px double; BORDER-RIGHT-WIDTH: 0px
}
.boxTableTop SPAN {
	COLOR: #ff0000
}
UL.leftNav {
	MARGIN: 5px 0px 0px 10px
}
UL.leftNav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url(../images/bullet_small.gif) no-repeat 0px 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
#ProductList {
	WIDTH: 100%
}
#ProductList TABLE {
	BORDER-BOTTOM: #ccc 1px dashed
}
#page {
	MARGIN-TOP: 10px; FONT-SIZE: 14px; TEXT-ALIGN: right
}
#page IMG {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
#page SPAN {
	FONT-WEIGHT: 600; COLOR: #ff0000
}
#page A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.coolinput {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #f0f0f0 1px solid; HEIGHT: 25px
}
