 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
BODY {
	FONT: 12px/1.7em Arial, Helvetica, sans-serif
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
CITE {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
A {
	COLOR: #06c
}
A:link {
	COLOR: #06c
}
A:visited {
	COLOR: #06c
}
A:hover {
	BACKGROUND: #06c; COLOR: #fff; TEXT-DECORATION: none
}
.more {
	TEXT-ALIGN: right
}
#header {
	MARGIN: 0px auto; WIDTH: 830px
}
#content {
	MARGIN: 0px auto; WIDTH: 830px
}
#focus {
	MARGIN: 0px auto; WIDTH: 830px
}
#container {
	BACKGROUND: url(../img/s-15.jpg) #fff repeat-x 50% top
}
#logo {
	DISPLAY: inline; FLOAT: left
}
#menu {
	DISPLAY: inline; FLOAT: left
}
#logo {
	WIDTH: 213px; HEIGHT: 79px
}
#menu {
	PADDING-RIGHT: 10px; BACKGROUND: url(../img/s-08.jpg) #ededed no-repeat right top; FLOAT: right; MARGIN: 40px 0px 0px; WIDTH: 590px
}
#menu UL {
	PADDING-LEFT: 15px; BACKGROUND: url(../img/s-06.jpg) #ededed no-repeat left top
}
#menu UL LI {
	FLOAT: left; MARGIN: 0px 6px; LINE-HEIGHT: 24px
}
#menu UL LI A:link {
	COLOR: #000
}
#menu UL LI A:visited {
	COLOR: #000
}
#menu UL LI A:hover {
	COLOR: #fff
}
#focus {
	BACKGROUND: url(../img/highlight.gif) no-repeat 60px top
}
A#newhand {
	DISPLAY: block; BACKGROUND: url(../img/newhand.jpg) no-repeat; FLOAT: right; WIDTH: 121px; HEIGHT: 115px
}
A#newhand SPAN {
	DISPLAY: block; WIDTH: 0px; TEXT-INDENT: -9999em; HEIGHT: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; FONT-SIZE: 18px; BACKGROUND: url(../img/h1bg.gif) no-repeat left 16px; FLOAT: left; PADDING-BOTTOM: 16px; COLOR: #fff; LINE-HEIGHT: 2em; PADDING-TOP: 18px; FONT-FAMILY: "Î¢ÈíÑÅºÚ",Arial, Helvetica, sans-serif
}
H1 A:link {
	COLOR: #fff
}
H1 A:visited {
	COLOR: #fff
}
#focus UL {
	CLEAR: left; COLOR: #fff
}
#focus UL LI {
	FLOAT: left; WIDTH: 40%; COLOR: #fff
}
#focus UL LI STRONG {
	MARGIN-RIGHT: 1em
}
#content {
	PADDING-RIGHT: 20px; MARGIN-TOP: 10px; PADDING-LEFT: 20px; BACKGROUND: url(../img/top_borderbg.jpg) no-repeat left top; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
H2 {
	FONT-SIZE: 14px; LINE-HEIGHT: 2em; BORDER-BOTTOM: #ccc 1px dotted
}
H3 {
	FONT-SIZE: 12px; COLOR: #444; LINE-HEIGHT: 2.2em
}
#main {
	DISPLAY: inline; FLOAT: left
}
#sidebar {
	DISPLAY: inline; FLOAT: left
}
#main {
	BORDER-RIGHT: #ddd 1px dotted; PADDING-RIGHT: 15px; MARGIN-LEFT: 10px; WIDTH: 478px
}
#sidebar {
	MARGIN-LEFT: 15px; WIDTH: 290px
}
.problem {
	MARGIN-TOP: 10px
}
UL.supportSoft LI {
	MARGIN-TOP: 0.5em; PADDING-LEFT: 20px; BACKGROUND: url(../img/s.gif) no-repeat left 4px; LINE-HEIGHT: 1.8em
}
.problem UL.f12 {
	MARGIN: 6px
}
UL.f12 LI {
	PADDING-LEFT: 15px; BACKGROUND: url(../img/li.gif) no-repeat left 1em; LINE-HEIGHT: 2em
}
#sidebar UL.f12 {
	MARGIN: 0px 0px 6px 6px
}
#sidebar UL.f12 LI CITE {
	DISPLAY: block; COLOR: #666; FONT-FAMILY: "ËÎÌå",Arial, Helvetica, sans-serif
}
#footer {
	BORDER-TOP: #ccc 1px dotted; MARGIN: 10px auto 0px; WIDTH: 830px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#footer P {
	TEXT-ALIGN: left
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
UNKNOWN {
	DISPLAY: inline-block; WIDTH: 100%
}
 HTML .clearfix {
	HEIGHT: 1%
}
UNKNOWN {
	MIN-HEIGHT: 1%
}
