BODY {
	MARGIN: 0px
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 150%
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 180%; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.green {
	BORDER-RIGHT: #c0db8a 1px solid; MARGIN-TOP: 5px; BORDER-LEFT: #c0db8a 1px solid; WIDTH: 166px; BORDER-BOTTOM: #c0db8a 1px solid
}
.green2 {
	BORDER-RIGHT: #7bae48 1px solid; BORDER-TOP: #7bae48 1px solid; BORDER-LEFT: #7bae48 1px solid; BORDER-BOTTOM: #7bae48 1px solid
}
.gray {
	BORDER-RIGHT: #c9c9c9 1px solid; BORDER-TOP: #c9c9c9 1px solid; MARGIN-TOP: 5px; BORDER-LEFT: #c9c9c9 1px solid; BORDER-BOTTOM: #c9c9c9 1px solid
}
.gray2 {
	BORDER-TOP: #c9c9c9 1px dashed; MARGIN-TOP: 5px; BORDER-BOTTOM: #c9c9c9 1px dashed; BACKGROUND-COLOR: #f7f7f7
}
.none {
	MARGIN-TOP: 5px
}
.padding {
	PADDING-LEFT: 5px
}
.redtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000; TEXT-DECORATION: none
}
.redtitle A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000; TEXT-DECORATION: none
}
.red {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.red A {
	COLOR: #cc0000; TEXT-DECORATION: none
}
.white {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.white A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.white {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.white A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.orgtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fe3c07; TEXT-DECORATION: none
}
.orgtitle A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fe3c07; TEXT-DECORATION: none
}
.org {
	COLOR: #f88000; TEXT-DECORATION: none
}
.org A {
	COLOR: #f88000; TEXT-DECORATION: none
}
.greentitle {
	FONT-WEIGHT: bold; COLOR: #3f8000; TEXT-DECORATION: none
}
.greentitle A {
	FONT-WEIGHT: bold; COLOR: #3f8000; TEXT-DECORATION: none
}
.bluelink {
	COLOR: #039; TEXT-DECORATION: none
}
.bluelink A {
	COLOR: #039; TEXT-DECORATION: none
}
.bluelink A:hover {
	COLOR: #039; TEXT-DECORATION: underline
}
.b2 {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 5px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.b3 {
	BORDER-RIGHT: #fdfdff 1px solid; BORDER-TOP: #fdfdff 1px solid; BORDER-LEFT: #fdfdff 1px solid; BORDER-BOTTOM: #fdfdff 1px solid
}
.STYLE1 {
	FONT-WEIGHT: bold; COLOR: #176004
}
.STYLE2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
