.FB-12px-FFFFFF {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.F-12px-FFFFFF {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.FB-14px-FFFFFF {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.F-14px-FFFFFF {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
.FB-12px-FF0000 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.F-12px-FF0000 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.FB-14px-FF0000 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: none
}
.F-14px-FF0000 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: none
}
.FB-12px-FF6600 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
.F-12px-FF6600 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
.FB-14px-FF6600 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: none
}
.F-14px-FF6600 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: none
}
.FB-12px-0033CC {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033cc; TEXT-DECORATION: none
}
.F-12px-0033CC {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0033cc; TEXT-DECORATION: none
}
.FB-14px-0033CC {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0033cc; TEXT-DECORATION: none
}
.F-14px-0033CC {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0033cc; TEXT-DECORATION: none
}
.FB-12px-00CCFF {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #00ccff; TEXT-DECORATION: none
}
.F-12px-00CCFF {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #00ccff; TEXT-DECORATION: none
}
.FB-12px-009900 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: none
}
.F-12px-009900 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #009900; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 20px; TEXT-DECORATION: underline
}
.F-12px-CCCCCC {
	FONT-SIZE: 12px; COLOR: #cccccc; TEXT-DECORATION: none
}
.F-12px-U {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.BK-4-FF9900 {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; BORDER-LEFT: #ff9900 1px solid; BORDER-BOTTOM: #ff9900 1px solid
}
.FB-4-CCCCCC {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.FB-12px-000000 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.F-12px-666666 {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.FB-12px-666666 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
.bgtop {
	BACKGROUND-POSITION: left top; BACKGROUND-REPEAT: no-repeat
}
.F-12px-FFFFFF {
	
}
.F-12px-A1CDA1 {
	FONT-SIZE: 12px; COLOR: #a1cda1; TEXT-DECORATION: none
}
.BJ-Y {
	BACKGROUND-POSITION: right 50%; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-REPEAT: no-repeat
}
.BJ-SY {
	BACKGROUND-POSITION: right top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-REPEAT: no-repeat
}
.F-12px-666666 {
	
}
.BJ-xy {
	BACKGROUND-POSITION: right bottom; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-REPEAT: no-repeat
}
.BJ-z {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-REPEAT: no-repeat
}
