BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 150%; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 18px
}
H2 {
	FONT-SIZE: 14px
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px
}
H4 {
	FONT-SIZE: 12px
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
UL {
	LIST-STYLE-TYPE: none
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #05a; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f30; TEXT-DECORATION: underline
}
.clearfloat {
	CLEAR: both; FONT-SIZE: 1px; LINE-HEIGHT: 0px; HEIGHT: 0px
}
.btn02 {
	BORDER-RIGHT: #90be4a 1px solid; BORDER-TOP: #90be4a 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/images/btn_bg2.gif) #fff 0px 0px; BORDER-LEFT: #90be4a 1px solid; WIDTH: 55px; CURSOR: pointer; COLOR: #297405; LINE-HEIGHT: 180%; BORDER-BOTTOM: #90be4a 1px solid; HEIGHT: 22px
}
.btn04 {
	BORDER-RIGHT: #dbb119 1px solid; BORDER-TOP: #dbb119 1px solid; FONT-SIZE: 12px; BACKGROUND: url(/images/btn_bg2.gif) 0px -24px; BORDER-LEFT: #dbb119 1px solid; WIDTH: 70px; CURSOR: pointer; COLOR: #9a4501; LINE-HEIGHT: 160%; BORDER-BOTTOM: #dbb119 1px solid; HEIGHT: 22px
}
.btn05 {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BACKGROUND: url(/images/btn_bg2.gif) 0px -48px; BORDER-LEFT: #d1d1d1 1px solid; WIDTH: 70px; LINE-HEIGHT: 160%; BORDER-BOTTOM: #d1d1d1 1px solid; HEIGHT: 22px
}
.btn06 {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: #fff; BORDER-LEFT: #999 1px solid; CURSOR: pointer; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Verdana; HEIGHT: 18px
}
.btn07 {
	BORDER-RIGHT: #cfab25 1px solid; BORDER-TOP: #cfab25 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/submit_bg.gif) 0px -8px; BORDER-LEFT: #cfab25 1px solid; CURSOR: pointer; COLOR: #660000; PADDING-TOP: 2px; BORDER-BOTTOM: #cfab25 1px solid; HEIGHT: 32px
}
.btn08 {
	BORDER-RIGHT: #8b9c56 1px solid; BORDER-TOP: #8b9c56 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(/images/submit_bg.gif) 0px -64px; BORDER-LEFT: #8b9c56 1px solid; CURSOR: pointer; COLOR: #360; PADDING-TOP: 2px; BORDER-BOTTOM: #8b9c56 1px solid; HEIGHT: 32px
}
.btn09 {
	BORDER-RIGHT: #cfab25 1px solid; BORDER-TOP: #cfab25 1px solid; FONT-SIZE: 14px; BACKGROUND: url(/images/submit_bg.gif) 0px -8px; BORDER-LEFT: #cfab25 1px solid; CURSOR: pointer; COLOR: #660000; PADDING-TOP: 2px; BORDER-BOTTOM: #cfab25 1px solid; HEIGHT: 26px
}
.srhbtn {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND: url(/images/search_bg.gif) 0px -64px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 122px; CURSOR: pointer; COLOR: #fff; HEIGHT: 30px; BORDER-RIGHT-WIDTH: 0px
}
.btn10 {
	BORDER-RIGHT: #90be4a 1px solid; BORDER-TOP: #90be4a 1px solid; FONT-SIZE: 12px; BACKGROUND: url(/images/btn_bg2.gif) 0px 0px; BORDER-LEFT: #90be4a 1px solid; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: #90be4a 1px solid
}
.btn11 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND: url(/images/btn_bg11.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 48px; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 190%; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
.star7 {
	BACKGROUND: url(/images/star.gif) no-repeat 0px 0px; WIDTH: 36px; HEIGHT: 18px
}
.star5 {
	BACKGROUND: url(/images/star.gif) no-repeat 0px -20px; WIDTH: 54px; HEIGHT: 18px
}
.star3 {
	BACKGROUND: url(/images/star.gif) no-repeat 0px -40px; WIDTH: 72px; HEIGHT: 18px
}
.star1 {
	BACKGROUND: url(/images/star.gif) no-repeat 0px -60px; WIDTH: 90px; HEIGHT: 18px
}
.star8 {
	BACKGROUND: url(/images/star.gif) no-repeat 0px -80px; WIDTH: 36px; HEIGHT: 18px
}
.star6 {
	BACKGROUND: url(/images/star.gif) no-repeat 0px -100px; WIDTH: 54px; HEIGHT: 18px
}
.star4 {
	BACKGROUND: url(/images/star.gif) no-repeat 0px -120px; WIDTH: 72px; HEIGHT: 18px
}
.star2 {
	BACKGROUND: url(/images/star.gif) no-repeat 0px -140px; WIDTH: 90px; HEIGHT: 18px
}
.star9 {
	BACKGROUND: url(/images/star.gif) no-repeat 0px -166px; WIDTH: 82px; HEIGHT: 18px
}
#Layer2 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FILTER: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; POSITION: absolute; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
#Layer3 {
	BORDER-RIGHT: #777 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #777 1px solid; PADDING-LEFT: 3px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #777 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #777 1px solid; POSITION: relative
}
#Layer3 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#Layer3 UL LI {
	DISPLAY: block; WIDTH: 100%; CURSOR: pointer; LIST-STYLE-TYPE: none
}
#Layer3 UL LI SPAN {
	FLOAT: right; COLOR: #8ca63d
}
#dmg_1 {
	CURSOR: pointer
}
#dmg_2 {
	CURSOR: pointer
}
.sdiv {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute
}
.sdiv_current {
	BACKGROUND: #316ac5; COLOR: #fff
}
#chaintip {
	BORDER-RIGHT: #f98510 4px solid; BORDER-TOP: #f98510 4px solid; BACKGROUND: #fff; BORDER-LEFT: #f98510 4px solid; WIDTH: 300px; BORDER-BOTTOM: #f98510 4px solid; POSITION: absolute
}
#chaintip DL DT {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: #ffebd7; PADDING-BOTTOM: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px
}
#chaintip DL DT SPAN {
	FLOAT: right; CURSOR: pointer
}
#chaintip DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; BACKGROUND: #fff; PADDING-BOTTOM: 6px; OVERFLOW: auto; PADDING-TOP: 6px; ZOOM: 1
}
#chaintip DL DD A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 53px; PADDING-TOP: 0px
}
.srhtxtcity {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 2px; BACKGROUND: url(/images/input_bg.gif) #fff no-repeat right 50%; PADDING-BOTTOM: 0px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 175px; LINE-HEIGHT: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 15px
}
#enlarge_images {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; DISPLAY: none; PADDING-LEFT: 3px; Z-INDEX: 11; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BACKGROUND-COLOR: #fff
}
.f_12_f00 {
	COLOR: #f00
}
.f12b_f60 {
	FONT-WEIGHT: bold; COLOR: #f60
}
.f_14b_f60 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #f60
}
.f_12_666 {
	COLOR: #666
}
.f_14b_f00 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #f00
}
.f_14b_c00 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #c00
}
.f_14b_03c {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #03c
}
.f_14b_390 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #390
}
.f_f60 {
	COLOR: #f60
}
.noresulat {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
