BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #494949; LINE-HEIGHT: 170%; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #494949; LINE-HEIGHT: 170%; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
DIV {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #494949; LINE-HEIGHT: 170%; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
.txhei02 {
	FONT-SIZE: 12px
}
.txhei04 {
	FONT-SIZE: 14px
}
.txbai02 {
	COLOR: #ffffff
}
.txbai04 {
	FONT-SIZE: 14px; COLOR: #ffffff
}
.txccc02 {
	COLOR: #cccccc
}
.txccc04 {
	FONT-SIZE: 14px; COLOR: #cccccc
}
.txaaa02 {
	COLOR: #aaa
}
.txaaa04 {
	FONT-SIZE: 14px; COLOR: #aaa
}
.txred02 {
	COLOR: #c52500
}
.txred04 {
	FONT-SIZE: 14px; COLOR: #c52500
}
.txcheng02 {
	COLOR: #ff6600
}
.txcheng04 {
	FONT-SIZE: 14px; COLOR: #ff6600
}
.txlan02 {
	COLOR: #16387c
}
.txlan04 {
	FONT-SIZE: 14px; COLOR: #16387c
}
.txhei_x02 {
	TEXT-DECORATION: underline
}
.txhei_x04 {
	FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.txbai_x02 {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.txbai_x04 {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
.txccc_x02 {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
.txccc_x04 {
	FONT-SIZE: 14px; COLOR: #cccccc; TEXT-DECORATION: underline
}
.txred_x02 {
	COLOR: #c52500; TEXT-DECORATION: underline
}
.txred_x04 {
	FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: underline
}
.txcheng_x02 {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.txcheng_x04 {
	FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: underline
}
.txlan_x02 {
	COLOR: #16387c; TEXT-DECORATION: underline
}
.txlan_x04 {
	FONT-SIZE: 14px; COLOR: #16387c; TEXT-DECORATION: underline
}
A:link {
	FONT-SIZE: 12px; COLOR: #494949; LINE-HEIGHT: 170%; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #494949; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #494949; TEXT-DECORATION: underline
}
A.lihei02:link {
	FONT-SIZE: 12px; COLOR: #494949; TEXT-DECORATION: none
}
A.lihei02:visited {
	FONT-SIZE: 12px; COLOR: #494949; TEXT-DECORATION: none
}
A.lihei02:hover {
	FONT-SIZE: 12px; COLOR: #494949; TEXT-DECORATION: underline
}
A.lihei04:link {
	FONT-SIZE: 14px; COLOR: #494949; TEXT-DECORATION: none
}
A.lihei04:visited {
	FONT-SIZE: 14px; COLOR: #494949; TEXT-DECORATION: none
}
A.lihei04:hover {
	FONT-SIZE: 14px; COLOR: #494949; TEXT-DECORATION: underline
}
A.lihei02_b:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #494949; TEXT-DECORATION: none
}
A.lihei02_b:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #494949; TEXT-DECORATION: none
}
A.lihei02_b:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #494949; TEXT-DECORATION: underline
}
A.lihei04_b:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #494949; TEXT-DECORATION: none
}
A.lihei04_b:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #494949; TEXT-DECORATION: none
}
A.lihei04_b:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #494949; TEXT-DECORATION: underline
}
A.libai02:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.libai02:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.libai02:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.libai04:link {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.libai04:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.libai04:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.lired02:link {
	COLOR: #c52500; TEXT-DECORATION: none
}
A.lired02:visited {
	COLOR: #c52500; TEXT-DECORATION: none
}
A.lired02:hover {
	COLOR: #c52500; TEXT-DECORATION: underline
}
A.lired04:link {
	FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: none
}
A.lired04:visited {
	FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: none
}
A.lired04:hover {
	FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: underline
}
A.lired02_b:link {
	FONT-WEIGHT: bold; COLOR: #c52500; TEXT-DECORATION: none
}
A.lired02_b:visited {
	FONT-WEIGHT: bold; COLOR: #c52500; TEXT-DECORATION: none
}
A.lired02_b:hover {
	FONT-WEIGHT: bold; COLOR: #c52500; TEXT-DECORATION: underline
}
A.lired04_b:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: none
}
A.lired04_b:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: none
}
A.lired04_b:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: underline
}
A.licheng02:link {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.licheng02:visited {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.licheng02:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.licheng04:link {
	FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: none
}
A.licheng04:visited {
	FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: none
}
A.licheng04:hover {
	FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.lilan02:link {
	COLOR: #16387c; TEXT-DECORATION: none
}
A.lilan02:visited {
	COLOR: #16387c; TEXT-DECORATION: none
}
A.lilan02:hover {
	COLOR: #16387c; TEXT-DECORATION: underline
}
A.lilan04:link {
	FONT-SIZE: 14px; COLOR: #16387c; TEXT-DECORATION: none
}
A.lilan04:visited {
	FONT-SIZE: 14px; COLOR: #16387c; TEXT-DECORATION: none
}
A.lilan04:hover {
	FONT-SIZE: 14px; COLOR: #16387c; TEXT-DECORATION: underline
}
A.liccc02:link {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.liccc02:visited {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.liccc02:hover {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
A.liccc04:link {
	FONT-SIZE: 14px; COLOR: #cccccc; TEXT-DECORATION: none
}
A.liccc04:visited {
	FONT-SIZE: 14px; COLOR: #cccccc; TEXT-DECORATION: none
}
A.liccc04:hover {
	FONT-SIZE: 14px; COLOR: #cccccc; TEXT-DECORATION: underline
}
A.lihei_x02:link {
	TEXT-DECORATION: underline
}
A.lihei_x02:visited {
	COLOR: #494949; TEXT-DECORATION: none
}
A.lihei_x02:hover {
	COLOR: #494949; TEXT-DECORATION: underline
}
A.lihei_x04:link {
	FONT-SIZE: 14px; COLOR: #494949; TEXT-DECORATION: underline
}
A.lihei_x04:visited {
	FONT-SIZE: 14px; COLOR: #494949; TEXT-DECORATION: underline
}
A.lihei_x04:hover {
	FONT-SIZE: 14px; COLOR: #494949; TEXT-DECORATION: underline
}
A.libai_x02:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.libai_x02:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.libai_x02:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.libai_x04:link {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.libai_x04:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.libai_x04:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.lired_x02:link {
	COLOR: #c52500; TEXT-DECORATION: underline
}
A.lired_x02:visited {
	COLOR: #c52500; TEXT-DECORATION: underline
}
A.lired_x02:hover {
	COLOR: #c52500; TEXT-DECORATION: underline
}
A.lired_x04:link {
	FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: underline
}
A.lired_x04:visited {
	FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: underline
}
A.lired_x04:hover {
	FONT-SIZE: 14px; COLOR: #c52500; TEXT-DECORATION: underline
}
A.licheng_x02:link {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.licheng_x02:visited {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.licheng_x02:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.licheng_x04:link {
	FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.licheng_x04:visited {
	FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.licheng_x04:hover {
	FONT-SIZE: 14px; COLOR: #ff6600; TEXT-DECORATION: underline
}
A.lilan_x02:link {
	COLOR: #16387c; TEXT-DECORATION: underline
}
A.lilan_x02:visited {
	COLOR: #16387c; TEXT-DECORATION: underline
}
A.lilan_x02:hover {
	COLOR: #16387c; TEXT-DECORATION: underline
}
A.lilan_x04:link {
	FONT-SIZE: 14px; COLOR: #16387c; TEXT-DECORATION: underline
}
A.lilan_x04:visited {
	FONT-SIZE: 14px; COLOR: #16387c; TEXT-DECORATION: underline
}
A.lilan_x04:hover {
	FONT-SIZE: 14px; COLOR: #16387c; TEXT-DECORATION: underline
}
A.liccc_x02:link {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.liccc_x02:visited {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
A.liccc_x02:hover {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
A.liccc_x04:link {
	FONT-SIZE: 14px; COLOR: #cccccc; TEXT-DECORATION: none
}
A.liccc_x04:visited {
	FONT-SIZE: 14px; COLOR: #cccccc; TEXT-DECORATION: underline
}
A.liccc_x04:hover {
	FONT-SIZE: 14px; COLOR: #cccccc; TEXT-DECORATION: underline
}
A.lilan_yq02:link {
	COLOR: #00309c; TEXT-DECORATION: underline
}
A.lilan_yq02:visited {
	COLOR: #00309c; TEXT-DECORATION: underline
}
A.lilan_yq02:hover {
	COLOR: #00309c; TEXT-DECORATION: underline
}
.tbbccc {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.tbbA5B5C0 {
	BORDER-RIGHT: #a5b5c0 1px solid; BORDER-TOP: #a5b5c0 1px solid; BORDER-LEFT: #a5b5c0 1px solid; BORDER-BOTTOM: #a5b5c0 1px solid
}
.tbbhei_leftright {
	BORDER-RIGHT: #000000 1px solid; BORDER-LEFT: #000000 1px solid
}
.tbbA5B5C0_leftright {
	BORDER-RIGHT: #a5b5c0 1px solid; BORDER-LEFT: #a5b5c0 1px solid
}
.tbbccc_bottomright {
	BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.tbbccc_right {
	BORDER-RIGHT: #ccc 3px solid
}
.tbbccc_topleft {
	BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.tbbccc_leftright {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.tbbccc_bottomleftright {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.tbbred_leftright {
	BORDER-RIGHT: #c52500 1px solid; BORDER-LEFT: #c52500 1px solid
}
.tbbccc_xux {
	BORDER-BOTTOM: #cccccc 1px dashed
}
