.blog .btn {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px; HEIGHT: 25px
}
.blog .cb {
	CURSOR: pointer; MARGIN-RIGHT: 4px; POSITION: relative; TOP: 1px
}
.blog .rd {
	CURSOR: pointer; MARGIN-RIGHT: 2px; POSITION: static; TOP: 2px
}
.blog LABEL {
	CURSOR: pointer
}
.blog SELECT {
	FONT-SIZE: 12px
}
.blog .txt {
	BORDER-RIGHT: #94c2ef 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #94c2ef 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #94c2ef 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #94c2ef 1px solid; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: 16px
}
.blog DIV {
	ZOOM: normal
}
.blog SPAN {
	ZOOM: normal
}
.blog FORM {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; MARGIN: 0pt; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt
}
.blog IMG {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; MARGIN: 0pt; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt
}
.blog UL {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; MARGIN: 0pt; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt
}
.blog OL {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; MARGIN: 0pt; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt
}
.blog LI {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; MARGIN: 0pt; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt
}
.blog DL {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; MARGIN: 0pt; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt
}
.blog DT {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; MARGIN: 0pt; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt
}
.blog DD {
	BORDER-RIGHT: 0pt; PADDING-RIGHT: 0pt; BORDER-TOP: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; MARGIN: 0pt; BORDER-LEFT: 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: 0pt
}
.blog A {
	FONT-SIZE: 14px; FONT-FAMILY: Arial,Helvetica,sans-serif; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.blog .a00 {
	FONT-WEIGHT: bold; COLOR: #bb2233; LINE-HEIGHT: 24px; TEXT-DECORATION: underline
}
.blog .a00:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.blog .a01 {
	COLOR: #3366cc
}
.blog .a01:visited {
	COLOR: #94a4c4
}
.blog .a01:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a02 {
	FONT-SIZE: 12px; COLOR: #1c9dd3
}
.blog .a02:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a03 {
	FONT-SIZE: 12px; COLOR: #3366cc
}
.blog .a03:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a04 {
	FONT-SIZE: 12px; COLOR: #3366cc; LINE-HEIGHT: 18px
}
.blog .a04:visited {
	COLOR: #94a4c4
}
.blog .a04:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a05 {
	FONT-WEIGHT: bold; COLOR: #3366cc
}
.blog .a05:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a06 {
	FONT-WEIGHT: bold; COLOR: #777; FONT-FAMILY: "Î¢ÈíÑÅºÚ",Arial, Helvetica, sans-serif
}
.blog .a06:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a07 {
	FONT-SIZE: 12px; COLOR: #1c9dd3; TEXT-DECORATION: underline
}
.blog .a07:visited {
	COLOR: #1c9dd3
}
.blog .a07:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a08 {
	COLOR: #1c9dd3
}
.blog .a08:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a09 {
	FONT-SIZE: 12px; COLOR: #777; FONT-FAMILY: ËÎÌå, sans-serif
}
.blog .a09:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a10 {
	FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 18px
}
.blog .a10:visited {
	COLOR: #94a4c4
}
.blog .a10:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a11 {
	FONT-WEIGHT: bold; COLOR: #000
}
.blog .a11:visited {
	COLOR: #94a4c4
}
.blog .a11:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a12 {
	FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 18px
}
.blog .a12:visited {
	COLOR: #94a4c4
}
.blog .a12:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a13 {
	COLOR: #10478c
}
.blog .a13:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .a14 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #fff; FONT-FAMILY: "Î¢ÈíÑÅºÚ",Arial,Helvetica,sans-serif
}
 HTML .a14:visited {
	COLOR: #fff
}
.blog .a14:hover {
	COLOR: #000; BACKGROUND-COLOR: #f0f6f9; TEXT-DECORATION: underline
}
.blog .f00 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000; FONT-FAMILY: "Î¢ÈíÑÅºÚ",Arial,Helvetica,sans-serif
}
.blog .f01 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.blog .f02 {
	FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 18px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.blog .f03 {
	FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 18px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.blog .f04 {
	FONT-SIZE: 12px; COLOR: #777; LINE-HEIGHT: 18px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.blog .f05 {
	
}
.blog .f06 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000; FONT-FAMILY: "Î¢ÈíÑÅºÚ",Arial,Helvetica,sans-serif
}
.blog .f07 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #253c48; FONT-FAMILY: "Î¢ÈíÑÅºÚ",Arial,Helvetica,sans-serif
}
.blog .f08 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #fff; FONT-FAMILY: "Î¢ÈíÑÅºÚ",Arial,Helvetica,sans-serif
}
.blog .f09 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #777; LINE-HEIGHT: 20px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.blog .f11 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000; FONT-FAMILY: "Î¢ÈíÑÅºÚ","»ªÎÄÏ¸ºÚ",Arial,Helvetica,sans-serif
}
.blog .fb {
	FONT-WEIGHT: bold
}
.blog .bd00 {
	BORDER-RIGHT: #94c2ef 1px solid; BORDER-TOP: #94c2ef 1px solid; BORDER-LEFT: #94c2ef 1px solid; BORDER-BOTTOM: #94c2ef 1px solid
}
.blog .bd01 {
	BORDER-RIGHT: #b7c5d9 1px dotted; BORDER-TOP: #b7c5d9 1px dotted; BORDER-LEFT: #b7c5d9 1px dotted; BORDER-BOTTOM: #b7c5d9 1px dotted
}
.blog .bd02 {
	BORDER-RIGHT: #94c2ef 1px dotted; BORDER-TOP: #94c2ef 1px dotted; BORDER-LEFT: #94c2ef 1px dotted; BORDER-BOTTOM: #94c2ef 1px dotted
}
.blog .bd03 {
	BORDER-RIGHT: #e5ecf3 1px solid; BORDER-TOP: #e5ecf3 1px solid; BORDER-LEFT: #e5ecf3 1px solid; BORDER-BOTTOM: #e5ecf3 1px solid
}
.blog .bd04 {
	BORDER-RIGHT: #b7c5d9 1px solid; BORDER-TOP: #b7c5d9 1px solid; BORDER-LEFT: #b7c5d9 1px solid; BORDER-BOTTOM: #b7c5d9 1px solid
}
.blog .bg00 {
	BACKGROUND-COLOR: #5ba3e6
}
.blog .bg01 {
	BACKGROUND-COLOR: #f0f6f9
}
.blog .bg02 {
	BACKGROUND-COLOR: #e5ecf3
}
.blog .h_ {
	PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(img/bg.gif); LINE-HEIGHT: 18px; BACKGROUND-REPEAT: no-repeat
}
.blog .f_ {
	BACKGROUND-IMAGE: url(img/icn_fun.gif); BACKGROUND-REPEAT: no-repeat
}
.blog .fun00 {
	BACKGROUND-POSITION: 0px -2572px
}
.blog .fun01 {
	BACKGROUND-POSITION: 0px -2670px
}
.blog .fun02 {
	BACKGROUND-POSITION: 0px -2769px
}
.blog .fun03 {
	BACKGROUND-POSITION: 0px -2868px
}
.blog .fun04 {
	BACKGROUND-POSITION: 0px -2967px
}
.blog .fun05 {
	BACKGROUND-POSITION: 0px -3066px
}
.blog .fun06 {
	BACKGROUND-POSITION: 0px -3165px
}
.blog .p_ {
	BACKGROUND-IMAGE: url(img/pic.gif); BACKGROUND-REPEAT: no-repeat
}
.blog .h00 {
	BACKGROUND-POSITION: 0px -338px; ZOOM: normal
}
.blog .h01 {
	BACKGROUND-POSITION: 0px -409px
}
.blog .h02 {
	BACKGROUND-POSITION: 0px -719px; FONT-SIZE: 15px
}
.blog .sep {
	FONT-SIZE: 12px; COLOR: #b7c5d9; FONT-FAMILY: ËÎÌå,sans-serif
}
.blog .clear {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.blog .hit {
	COLOR: #999
}
.blog .dot {
	FONT-FAMILY: Simsun
}
.blog .red {
	COLOR: #bb2233
}
.blog {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: center
}
.blog .blog-head {
	
}
.blog .blogheadborder {
	BORDER-BOTTOM: #e5ecf3 1px solid; HEIGHT: 1%
}
.blog .blog-head .logo {
	BACKGROUND: url(img/bg.gif) no-repeat 0px 12px; FLOAT: left; WIDTH: 145px; CURSOR: pointer; HEIGHT: 100px
}
.blog .blog-head .title {
	BACKGROUND: url(img/bg.gif) no-repeat 0px -95px; FLOAT: left; WIDTH: 150px; HEIGHT: 100px
}
.blog .blog-head .topic {
	FLOAT: left; LINE-HEIGHT: 108px; MARGIN-RIGHT: 15px; HEIGHT: 100px
}
.blog .blog-head .serves {
	MARGIN-TOP: 17px; BACKGROUND: url(img/bg.gif) no-repeat 0px -550px; FLOAT: left; WIDTH: 100px; CURSOR: pointer; HEIGHT: 50px
}
.blog .blog-head .serves A {
	DISPLAY: block; MARGIN: 25px 0px 0px 3px; WIDTH: 75px; CURSOR: pointer; HEIGHT: 22px
}
.blog .blog-head .toolbar {
	Z-INDEX: 20; FLOAT: right; WIDTH: 600px; COLOR: #1c9dd3; PADDING-TOP: 10px; POSITION: relative; TEXT-ALIGN: right
}
UNKNOWN {
	POSITION: relative; TOP: 1px
}
.blog .blog-head .toolbar .comma {
	MARGIN-RIGHT: 8px
}
.blog .blog-head .toolbar .sep {
	MARGIN: auto 8px
}
.blog .blog-head .toolbar .srh {
	MARGIN-TOP: 42px
}
UNKNOWN {
	MARGIN-TOP: 38px
}
.blog .blog-head .toolbar .txt {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: 220px
}
.blog .blog-head .toolbar .btn-srh {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(img/bg.gif) no-repeat 0px -295px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; WIDTH: 51px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
.blog .blog-head .toolbar .btn-slt {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(img/bg.gif) no-repeat -50px -295px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: -5px; VERTICAL-ALIGN: middle; WIDTH: 20px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
.blog .blog-nav {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; ZOOM: 1; TEXT-ALIGN: left
}
.blog .blog-nav A {
	FLOAT: left; WIDTH: 106px; LINE-HEIGHT: 34px; HEIGHT: 34px; TEXT-ALIGN: center
}
.blog .blog-nav A.cur {
	COLOR: #000; BACKGROUND-COLOR: #e5f0ef
}
UNKNOWN {
	POSITION: relative; TOP: 1px
}
.blog .blog-foot {
	CLEAR: both; LINE-HEIGHT: 23px; PADDING-TOP: 50px; TEXT-ALIGN: center
}
.blog .blog-foot A {
	FONT-SIZE: 12px
}
.home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 965px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.home .blog-body {
	PADDING-BOTTOM: 10px; POSITION: relative; TEXT-ALIGN: left
}
.blog .blog-body .login {
	Z-INDEX: 10; RIGHT: 18px; OVERFLOW: hidden; WIDTH: 300px; POSITION: absolute; TOP: -18px; HEIGHT: 380px; BACKGROUND-COLOR: #fff
}
.blog .login .log-head {
	PADDING-LEFT: 15px; LINE-HEIGHT: 36px; HEIGHT: 36px; TEXT-ALIGN: left
}
.blog .login .log-head .sep {
	MARGIN: auto 10px auto 0px; COLOR: #95cdf3
}
.blog .login .log-head .other {
	COLOR: #3366cb
}
.blog .login .log-head .log-head-r {
	RIGHT: 6px; POSITION: absolute; TOP: 0px
}
.blog .login .log-head .h0 {
	BACKGROUND-COLOR: #e5ecf3
}
.blog .login .state0 .log-body {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 16px; MARGIN: auto; WIDTH: 270px; LINE-HEIGHT: 26px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.blog .login .state0 .col0 {
	FLOAT: left; WIDTH: 55px
}
.blog .login .state0 .col1 {
	FLOAT: left; WIDTH: 210px
}
.blog .login .state0 .col1 .tip {
	LINE-HEIGHT: 28px; HEIGHT: 28px
}
.blog .login .state0 .col1 .mar {
	MARGIN-TOP: 3px
}
.blog .login .state0 .txt {
	FONT-SIZE: 14px; MARGIN-RIGHT: 5px; HEIGHT: 17px
}
.blog .login .state0 .btn {
	MARGIN: 6px 0px 14px 55px; WIDTH: 128px; HEIGHT: 32px
}
.blog .login .state0 .reg {
	BACKGROUND: url(img/bg_dot.gif) repeat-x 0px 0px
}
.blog .login .state0 .reg .adv {
	BACKGROUND: url(img/bg.gif) no-repeat 0px -200px; MARGIN: 3px 0px 5px 28px; HEIGHT: 75px
}
.blog .login .state0 .reg .tip {
	LINE-HEIGHT: 15px; TEXT-ALIGN: center
}
.blog .login .state1 .log-body {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 12px; PADDING-TOP: 6px
}
.blog .login .state1 IMG {
	MARGIN: 4px; WIDTH: 140px; HEIGHT: 140px
}
.blog .login .state1 .a-img {
	BORDER-RIGHT: #b7c5b9 1px solid; BORDER-TOP: #b7c5b9 1px solid; FLOAT: left; BORDER-LEFT: #b7c5b9 1px solid; BORDER-BOTTOM: #b7c5b9 1px solid
}
.blog .login .state1 .inf {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 8px; OVERFLOW: hidden; WIDTH: 120px; WHITE-SPACE: nowrap
}
.blog .login .state1 .inf .title {
	MARGIN: 5px 0px 8px
}
.blog .login .state1 .tools {
	PADDING-LEFT: 3px; LINE-HEIGHT: 50px; HEIGHT: 50px
}
.blog .login .state1 .nav .sep {
	MARGIN: 0px 7px
}
.blog .login .state1 .tools .btn {
	MARGIN: 0px 0px 0px 13px; WIDTH: 116px; HEIGHT: 32px
}
.blog .login .state1 .extra {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; BACKGROUND: url(img/bg_dot.gif) repeat-x 0px 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 12px
}
.blog .login .state1 .msgs .item {
	OVERFLOW: hidden; WIDTH: 270px; LINE-HEIGHT: 20px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.blog .login .state1 .msgs A {
	MARGIN: 0px 6px 0px 3px
}
.blog .login .state1 .extra .a-tools {
	MARGIN-TOP: 5px; TEXT-ALIGN: right
}
.blog .login .state1 .strict A {
	FONT-SIZE: 12px; COLOR: #3366cc; LINE-HEIGHT: 18px
}
.blog .login .state1 .strict A:visited {
	COLOR: #94a4c4
}
.blog .login .state1 .strict A:hover {
	COLOR: #bb2233; TEXT-DECORATION: underline
}
.blog .login .state1 .a-my {
	RIGHT: 10px; BOTTOM: 10px; POSITION: absolute
}
.blog .login .layer-login {
	WIDTH: 120px
}
.blog .login .layer-login A {
	DISPLAY: block; FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 30px; HEIGHT: 28px; TEXT-ALIGN: center
}
.blog .login .layer-login A:hover {
	BACKGROUND-COLOR: #eee
}
.blog .login .layer-login A.cur {
	COLOR: #fff; BACKGROUND-COLOR: #55aaee
}
.blog .blog-head .layer-srh {
	WIDTH: 60px
}
.blog .blog-head .layer-srh A {
	DISPLAY: block; FONT-SIZE: 14px; COLOR: #000; LINE-HEIGHT: 28px; HEIGHT: 25px; TEXT-ALIGN: center
}
.blog .blog-head .layer-srh A:hover {
	BACKGROUND-COLOR: #eee
}
.blog .blog-head .layer-srh A.cur {
	COLOR: #fff; BACKGROUND-COLOR: #55aaee
}
.home .hot {
	FONT-SIZE: 20px; LINE-HEIGHT: 196px; HEIGHT: 196px; TEXT-ALIGN: left
}
.home .hot IMG {
	WIDTH: 965px
}
.home .body-l {
	PADDING-RIGHT: 22px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 610px; PADDING-TOP: 0px
}
.home .serves {
	PADDING-LEFT: 12px; ZOOM: 1
}
.home .serves A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 10px 0px; OVERFLOW: hidden; WIDTH: 73px; LINE-HEIGHT: 100px; PADDING-TOP: 3px; HEIGHT: 77px
}
.home .serves A:hover {
	BACKGROUND: url(img/icn_fun.gif) no-repeat 4px 0px
}
.home .serves .more {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; WIDTH: 70px; LINE-HEIGHT: 78px; PADDING-TOP: 3px
}
.home .serves .more:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.home .ff {
	MARGIN-TOP: 8px; ZOOM: 1; TEXT-ALIGN: left
}
.home .ff .ff-head-l {
	FLOAT: left; WIDTH: 300px; TEXT-ALIGN: left
}
.home .ff .ff-head-l A {
	COLOR: #1c9dd3; TEXT-DECORATION: none
}
.home .ff .ff-head-l A:hover {
	COLOR: #bb2233
}
.home .ff .ff-head-r {
	FLOAT: right; WIDTH: 300px; TEXT-ALIGN: right
}
.home .ff .ff-head-r A {
	MARGIN-RIGHT: 12px
}
.home .ff .ff-body {
	PADDING-LEFT: 18px; FONT-SIZE: 14px; MARGIN: 16px auto 18px
}
.home .ff SELECT {
	FONT-SIZE: 14px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.home .ff LABEL {
	FONT-SIZE: 14px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.home .ff .ff-body SELECT {
	FONT-SIZE: 14px; VERTICAL-ALIGN: middle; WIDTH: 92px; MARGIN-RIGHT: 6px; HEIGHT: 23px
}
.home .ff .ff-body .age SELECT {
	MARGIN: 0px; WIDTH: 45px
}
.home .ff .ff-body .age SPAN {
	MARGIN: auto 8px
}
.home .ff .ff-body .sex LABEL {
	MARGIN-RIGHT: 8px
}
.home .ff .ff-body .btn {
	MARGIN-LEFT: 20px; VERTICAL-ALIGN: middle; WIDTH: 92px; HEIGHT: 30px
}
.home .theme {
	BACKGROUND: url(img/bg_dot.gif) repeat-x 0px 0px; FLOAT: left; OVERFLOW: hidden; WIDTH: 610px
}
.home .theme .theme-head {
	FLOAT: left; LINE-HEIGHT: 40px; HEIGHT: 40px
}
.home .theme .theme-head .f07 {
	FLOAT: left; WIDTH: 200px
}
.home .theme .theme-head A {
	PADDING-RIGHT: 5px; FLOAT: right
}
.home .theme .theme-body {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.home .theme .theme-body A {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 4px; WIDTH: 140px
}
.home .theme .theme-body IMG {
	WIDTH: 140px; HEIGHT: 154px
}
.home .body-r {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 298px; PADDING-TOP: 80px
}
.home .md .md-head {
	BACKGROUND: url(img/bg_dot.gif) repeat-x left center; LINE-HEIGHT: 29px; HEIGHT: 29px
}
.home .md .md-head .f07 {
	FLOAT: left; WIDTH: 70px; BACKGROUND-COLOR: #fff
}
.home .md .md-head A {
	PADDING-LEFT: 8px; FLOAT: right; BACKGROUND-COLOR: #fff
}
.home .md .md-body {
	CLEAR: both; PADDING-LEFT: 15px
}
.home .md .md-body .title {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 100%; LINE-HEIGHT: 25px; HEIGHT: 25px; TEXT-OVERFLOW: ellipsis
}
.home .md-focus .content {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 100%; LINE-HEIGHT: 18px; WHITE-SPACE: normal; HEIGHT: 36px; TEXT-OVERFLOW: ellipsis
}
.home .md-dyn {
	MARGIN-TOP: 10px
}
.home .md-dyn .md-body .title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 5px
}
.home .md-dyn .content A {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 100%; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-OVERFLOW: ellipsis
}
#bottom {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #999; LINE-HEIGHT: 22px; PADDING-TOP: 10px; HEIGHT: 50px; TEXT-ALIGN: center
}
#bottom A {
	COLOR: #999; TEXT-DECORATION: none
}
