@import url( /css/advanced.css );
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px; COLOR: #336699; FONT-FAMILY: Verdana,ו,Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
P {
	COLOR: #333
}
A {
	COLOR: #666; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #f30; TEXT-DECORATION: none; outline: none
}
A:unknown {
	outline: none
}
A:visited {
	outline: none
}
UL {
	LIST-STYLE-TYPE: none
}
H1 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H2 {
	PADDING-LEFT: 22px; FONT-WEIGHT: bold; FONT-SIZE: 15px; BACKGROUND: url(../ddimages/icon-flag.gif) no-repeat 0px 50%; MARGIN: 0px 0px 10px; TEXT-TRANSFORM: uppercase; COLOR: #8a8e27; FONT-FAMILY: Century Gothic , Trebuchet MS ,Helvetica,Arial,Geneva,sans-serif
}
H2 A:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #8a8e27; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
H2 A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #8a8e27; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
H2 A:hover {
	COLOR: #f30
}
#nav {
	CLEAR: both; PADDING-TOP: 3px
}
#nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/ddimages/nav-tab.gif) #d41e00 repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#nav A {
	BORDER-RIGHT: #bb1600 1px solid; PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 16px; BACKGROUND: url(/ddimages/nav-tab.gif) #d41e00 repeat-x; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 1.1em/2.5 Century Gothic , Trebuchet MS ,Helvetica,Arial,Geneva,sans-serif; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #fe633a 1px solid; WIDTH: auto; COLOR: #fff; PADDING-TOP: 0px; LETTER-SPACING: 1px; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
#nav A:hover {
	BACKGROUND: url(/ddimages/nav-tab.gif) #b31203 repeat-x 0px -150px
}
#nav A:unknown {
	BACKGROUND: url(/ddimages/nav-tab.gif) #b31203 repeat-x 0px -150px
}
#nav A:active {
	BACKGROUND: url(/ddimages/nav-tab.gif) #b31203 repeat-x 0px -150px
}
#nav .sel A {
	BACKGROUND: url(/ddimages/nav-tab.gif) #720000 repeat-x 0px -300px
}
#nav .sel A:unknown {
	BACKGROUND: url(/ddimages/nav-tab.gif) #b31203 repeat-x 0px -150px
}
.linkunitwide {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 4px; BACKGROUND: #f9f8f4; PADDING-BOTTOM: 4px; FONT: 11px verdana, geneva,arial, helvetica, sans-serif; PADDING-TOP: 8px; BORDER-BOTTOM: #b6c8b0 1px dashed
}
.linkunitwide IFRAME {
	WIDTH: 728px; HEIGHT: 15px
}
.google {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.google IFRAME {
	WIDTH: 728px; HEIGHT: 93px
}
#flinks {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; WIDTH: 964px! important; PADDING-TOP: 3px; BORDER-BOTTOM: #f0f0f0 1px solid; BACKGROUND-COLOR: #fff
}
#flinks A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 0px; FONT: 11px verdana, ו,arial, helvetica, sans-serif; OVERFLOW: hidden; WIDTH: 106px! important; PADDING-TOP: 5px; HEIGHT: 20px
}
DIV.clear-both {
	CLEAR: both; DISPLAY: block; FONT: 0px/0px sans-serif
}
.pages {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 18em; FONT-SIZE: 100%; PADDING-BOTTOM: 3em; MARGIN: 0.5em 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.pages A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #fff 1px solid; MARGIN-RIGHT: 0.3em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #fff 1px solid
}
.pages SPAN {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 0.5em; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #fff 1px solid; MARGIN-RIGHT: 0.3em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #fff 1px solid
}
.pages SPAN.current {
	BORDER-RIGHT: #2e6ab1 1px solid; BORDER-TOP: #2e6ab1 1px solid; FONT-WEIGHT: bold; BACKGROUND: #2e6ab1; BORDER-LEFT: #2e6ab1 1px solid; COLOR: #fff; BORDER-BOTTOM: #2e6ab1 1px solid
}
.pages A {
	BORDER-RIGHT: #9aafe5 1px solid; BORDER-TOP: #9aafe5 1px solid; BORDER-LEFT: #9aafe5 1px solid; BORDER-BOTTOM: #9aafe5 1px solid; TEXT-DECORATION: none
}
.pages A:hover {
	BORDER-LEFT-COLOR: #2e6ab1; BORDER-BOTTOM-COLOR: #2e6ab1; BORDER-TOP-COLOR: #2e6ab1; BORDER-RIGHT-COLOR: #2e6ab1
}
.pages A.nextprev {
	FONT-WEIGHT: bold
}
.pages SPAN.nextprev {
	COLOR: #666
}
.pages SPAN.nextprev {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; COLOR: #999; BORDER-BOTTOM: #ddd 1px solid
}
.pic_art {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 6px; MARGIN-LEFT: 0px; WIDTH: 80px; PADDING-TOP: 6px
}
.pic_photo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN-LEFT: 0px; WIDTH: 135px; PADDING-TOP: 6px
}
.pic_soft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN-LEFT: 0px; WIDTH: 135px; PADDING-TOP: 6px
}
.pic_art_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.pic_photo_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.pic_soft_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.pic1 {
	BORDER-RIGHT: #ccc 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px dashed; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px dashed; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dashed
}
.pic2 {
	BORDER-RIGHT: #ccc 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px dashed; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px dashed; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dashed
}
.pic3 {
	BORDER-RIGHT: #ccc 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px dashed; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px dashed; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dashed
}
A:hover .pic1 {
	BORDER-RIGHT: #550 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #550 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #550 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #550 1px solid
}
A:hover .pic2 {
	BORDER-RIGHT: #550 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #550 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #550 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #550 1px solid
}
A:hover .pic3 {
	BORDER-RIGHT: #550 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #550 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #550 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #550 1px solid
}
.show_page {
	CLEAR: left; TEXT-ALIGN: center
}
#search {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 10px; WIDTH: 780px; PADDING-TOP: 10px; HEIGHT: auto; BACKGROUND-COLOR: #f7f7f7
}
.s_l {
	FLOAT: left
}
.s_r {
	FLOAT: left
}
.s_l {
	PADDING-LEFT: 10px; WIDTH: 519px
}
.text {
	WIDTH: 395px
}
.s_l UL A {
	MARGIN-RIGHT: 10px
}
.s_r {
	PADDING-LEFT: 20px; MARGIN-LEFT: 40px; BORDER-LEFT: #f0f0f0 1px solid; WIDTH: 180px
}
#UserLogin {
	FLOAT: left; WIDTH: auto
}
.s_r UL {
	MARGIN-TOP: 10px
}
.s_r .xt {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.s_r .xt SPAN {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; BACKGROUND-COLOR: #ff2696
}
.btn2 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; MARGIN-LEFT: 15px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 80px; CURSOR: pointer; COLOR: #fff; LINE-HEIGHT: 22px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #0063dc; TEXT-ALIGN: center
}
.citk_xg {
	BORDER-RIGHT: #bcb 1px dashed; PADDING-RIGHT: 0px; BORDER-TOP: #bcb 1px dashed; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #bcb 1px dashed; WIDTH: 240px; PADDING-TOP: 0px; BORDER-BOTTOM: #bcb 1px dashed; HEIGHT: auto
}
.citk_xgtop {
	BACKGROUND: #f9f8f4; LINE-HEIGHT: 20px; BORDER-BOTTOM: #bcb 1px dashed; HEIGHT: 26px
}
.citk_xgico {
	PADDING-LEFT: 7px; FLOAT: left; WIDTH: 22px; PADDING-TOP: 8px; HEIGHT: 20px
}
.citk_xgpic {
	FLOAT: left; WIDTH: 203px; PADDING-TOP: 5px; HEIGHT: 20px
}
.citk_xgbt {
	FLOAT: left; WIDTH: 200px; HEIGHT: auto
}
.citk_xgct {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 220px; PADDING-TOP: 10px; HEIGHT: 140px
}
.comment_border {
	BORDER-RIGHT: #6eb8d9 1px solid; BORDER-TOP: #6eb8d9 1px solid; BORDER-LEFT: #6eb8d9 1px solid; BORDER-BOTTOM: #6eb8d9 1px solid
}
.comment_title {
	FONT-WEIGHT: normal; BACKGROUND: #6eb8d9; COLOR: #ffffff
}
.comment_tdbg1 {
	BACKGROUND: #e0f2fa; LINE-HEIGHT: 120%
}
.comment_tdbg2 {
	BACKGROUND: #aedef2
}
