.zi {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #494949; LINE-HEIGHT: 170%; FONT-FAMILY: "ו"
}
.zi1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 170%; FONT-FAMILY: "ו"
}
.bai {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "ו"
}
