BODY {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.sibianlan {
	BORDER-RIGHT: #99ccff 1px solid; BORDER-TOP: #99ccff 1px solid; BORDER-LEFT: #99ccff 1px solid; BORDER-BOTTOM: #99ccff 1px solid
}
.daohangbj {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/images/index_r3_c2.jpg); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 97px; COLOR: #000000; LINE-HEIGHT: 30px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 31px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none
}
.kuan #youqinglianjie {
	
}
#top {
	MARGIN-LEFT: auto; WIDTH: 996px; MARGIN-RIGHT: auto; HEIGHT: 30px
}
#content1 #content1_left {
	BORDER-RIGHT: #bbcbdb 1px solid; BORDER-TOP: #bbcbdb 1px solid; FLOAT: left; BORDER-LEFT: #bbcbdb 1px solid; WIDTH: 727px; BORDER-BOTTOM: #bbcbdb 1px solid; HEIGHT: 211px
}
#content1 #content1_right {
	BORDER-RIGHT: #a6d0e6 1px solid; BORDER-TOP: #a6d0e6 1px solid; FLOAT: left; MARGIN-LEFT: 5px; BORDER-LEFT: #a6d0e6 1px solid; WIDTH: 264px; BORDER-BOTTOM: #a6d0e6 1px solid; HEIGHT: 1px
}
#content1 #content1_right_er {
	BORDER-RIGHT: #a6d0e6 1px solid; BORDER-TOP: #a6d0e6 1px solid; FLOAT: left; BORDER-LEFT: #a6d0e6 1px solid; WIDTH: 264px; BORDER-BOTTOM: #a6d0e6 1px solid; HEIGHT: 1px
}
.er_zuo {
	FLOAT: left; WIDTH: 264px; HEIGHT: 1px
}
.er_right {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 726px; HEIGHT: 1px
}
.er_right_top {
	BORDER-RIGHT: #a6d0e6 1px solid; BORDER-TOP: #a6d0e6 1px solid; FLOAT: left; BORDER-LEFT: #a6d0e6 1px solid; WIDTH: 726px; BORDER-BOTTOM: #a6d0e6 1px solid; HEIGHT: 156px
}
.er_right_bottom {
	BORDER-RIGHT: #a6d0e6 1px solid; BORDER-TOP: #a6d0e6 1px solid; MARGIN-TOP: 5px; FLOAT: left; BORDER-LEFT: #a6d0e6 1px solid; WIDTH: 726px; BORDER-BOTTOM: #a6d0e6 1px solid; HEIGHT: 689px
}
.er2_right_bottom {
	BORDER-RIGHT: #a6d0e6 1px solid; BORDER-TOP: #a6d0e6 1px solid; FLOAT: left; BORDER-LEFT: #a6d0e6 1px solid; WIDTH: 726px; BORDER-BOTTOM: #a6d0e6 1px solid; HEIGHT: 690px
}
.er3_right_bottom {
	BORDER-RIGHT: #a6d0e6 1px solid; BORDER-TOP: #a6d0e6 1px solid; FLOAT: left; BORDER-LEFT: #a6d0e6 1px solid; WIDTH: 726px; BORDER-BOTTOM: #a6d0e6 1px solid; HEIGHT: 668px
}
#content1_right1 {
	BORDER-RIGHT: #a6d0e6 1px solid; BORDER-TOP: #a6d0e6 1px solid; MARGIN-TOP: 1px; FLOAT: left; BORDER-LEFT: #a6d0e6 1px solid; WIDTH: 264px; BORDER-BOTTOM: #a6d0e6 1px solid; HEIGHT: 1px
}
.wangshangbaoming {
	BORDER-RIGHT: #a6d0e6 1px solid; BORDER-TOP: #a6d0e6 1px solid; MARGIN-TOP: 2px; BORDER-LEFT: #a6d0e6 1px solid; WIDTH: 262px; BORDER-BOTTOM: #a6d0e6 1px solid; HEIGHT: 60px
}
.tiao {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index_r6_c62.jpg); WIDTH: 262px; COLOR: #5572a3; LINE-HEIGHT: 29px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.tiao_er {
	FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index_r6_c62.jpg); WIDTH: 262px; COLOR: #5572a3; LINE-HEIGHT: 29px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.tiao_neitong {
	FLOAT: left; WIDTH: 262px; HEIGHT: 180px
}
.tiao_neitong1 {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 262px; HEIGHT: 105px; TEXT-ALIGN: left
}
.tiao_neitong2 {
	FONT-SIZE: 13px; FLOAT: left; WIDTH: 262px; HEIGHT: 141px; TEXT-ALIGN: left
}
.xiaxuxian {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; BORDER-BOTTOM: #cccccc 1px dashed; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
.xiaxuxian1 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #e6e6e6; BORDER-TOP-COLOR: #e6e6e6; BORDER-BOTTOM: #e6e6e6 1px dotted; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #e6e6e6
}
.content2_left {
	BORDER-RIGHT: #bbcbdb 1px solid; BORDER-TOP: #bbcbdb 1px solid; FONT-SIZE: 12px; FLOAT: left; BORDER-LEFT: #bbcbdb 1px solid; WIDTH: 727px; BORDER-BOTTOM: #bbcbdb 1px solid; HEIGHT: 300px
}
.peixun {
	BACKGROUND-POSITION: 50% bottom; FLOAT: left; BACKGROUND-IMAGE: url(/images/index_r17_c43.jpg); WIDTH: 725px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 30px
}
.peixun_out {
	MARGIN-TOP: 4px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index_r18_c3.jpg); MARGIN-LEFT: 5px; WIDTH: 83px; COLOR: #32396d; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.peixun_out1 {
	MARGIN-TOP: 2px; FONT-WEIGHT: lighter; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index_r18_c3.jpg); MARGIN-LEFT: 3px; WIDTH: 83px; COLOR: #32396d; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.peixun A {
	FONT-SIZE: 12px; COLOR: #32396d; TEXT-DECORATION: none
}
.peixun A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.hong {
	COLOR: #ff0000
}
.peixun A:active {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.peixun_over {
	MARGIN-TOP: 4px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index_r18_c12.jpg); MARGIN-LEFT: 5px; WIDTH: 83px; COLOR: #ff0000; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 20px; LINE-HEIGHT: 18px; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#tiao_neitong1 UL {
	LINE-HEIGHT: 100px
}
.liebiao {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 12px; LINE-HEIGHT: 20px; PADDING-TOP: 8px; TEXT-DECORATION: none
}
.peixun_over1 {
	MARGIN-TOP: 2px; FONT-WEIGHT: lighter; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index_r18_c12.jpg); MARGIN-LEFT: 3px; WIDTH: 83px; COLOR: #ff0000; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
.peixun_neirong {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 725px; HEIGHT: 266px
}
.biaoti_hong {
	FONT-SIZE: 14px; COLOR: #ff3300; TEXT-DECORATION: none
}
#content2 #content2_left1 {
	BORDER-RIGHT: #bbcbdb 1px solid; BORDER-TOP: #bbcbdb 1px solid; FLOAT: left; BORDER-LEFT: #bbcbdb 1px solid; WIDTH: 727px; BORDER-BOTTOM: #bbcbdb 1px solid; HEIGHT: 300px
}
#content2 #content2_right {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 264px; HEIGHT: 300px
}
#content2 #content2_right_er {
	FLOAT: left; WIDTH: 264px; HEIGHT: 300px
}
.kefu {
	FLOAT: left; MARGIN-BOTTOM: 0px; WIDTH: 264px; HEIGHT: 61px
}
.kefu_er {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-BOTTOM: 0px; WIDTH: 264px; HEIGHT: 61px
}
#gundongtupian {
	BORDER-RIGHT: #b9cfff 1px solid; BORDER-TOP: #b9cfff 1px solid; MARGIN-TOP: 5px; MARGIN-LEFT: auto; BORDER-LEFT: #b9cfff 1px solid; WIDTH: 996px; MARGIN-RIGHT: auto; BORDER-BOTTOM: #b9cfff 1px solid; HEIGHT: 159px; BACKGROUND-COLOR: #ebf1fc
}
#gundongtupian #gundongtupian_zhongjian {
	PADDING-RIGHT: 7px; DISPLAY: inline; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 7px; MARGIN: 10px 2px; WIDTH: 954px; PADDING-TOP: 7px; HEIGHT: 139px; BACKGROUND-COLOR: #ffffff
}
.kuan {
	BORDER-RIGHT: #b9cfff 1px solid; BORDER-TOP: #b9cfff 1px solid; MARGIN: 5px auto 2px; BORDER-LEFT: #b9cfff 1px solid; WIDTH: 996px; BORDER-BOTTOM: #b9cfff 1px solid; HEIGHT: 1px
}
.kuan .youqinglianjie_wenzi {
	MARGIN-TOP: 5px; FONT-SIZE: 13px; FLOAT: left; WIDTH: 994px; COLOR: #333333; TEXT-INDENT: 12px; LINE-HEIGHT: 30px; HEIGHT: 32px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.kuan .float1 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #b9cfff; FLOAT: left; WIDTH: 994px; BORDER-TOP-COLOR: #b9cfff; BORDER-BOTTOM: #b9cfff 1px solid; HEIGHT: 31px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #b9cfff
}
.kuan .youqinglianjie_tupian {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 994px; PADDING-TOP: 5px; HEIGHT: 60px; TEXT-ALIGN: left
}
.images_bianjie {
	MARGIN-RIGHT: 5px
}
.huibian {
	MARGIN-LEFT: auto; WIDTH: 996px; MARGIN-RIGHT: auto; HEIGHT: 4px; BACKGROUND-COLOR: #7f7f7f
}
.kuan #youqinglianjie {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; FLOAT: left; WIDTH: 80px; COLOR: #5572a3; TEXT-INDENT: 6px; LINE-HEIGHT: 29px; HEIGHT: 30px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#youqinglianjie_er {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; FLOAT: left; WIDTH: 80px; COLOR: #5572a3; TEXT-INDENT: 6px; LINE-HEIGHT: 29px; HEIGHT: 30px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#foot {
	BORDER-RIGHT: #b9cfff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b9cfff 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/foot_bg.gif); PADDING-BOTTOM: 3px; MARGIN-LEFT: auto; BORDER-LEFT: #b9cfff 1px solid; WIDTH: 996px; COLOR: #333333; LINE-HEIGHT: 27px; MARGIN-RIGHT: auto; PADDING-TOP: 3px; BORDER-BOTTOM: #b9cfff 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 100px; TEXT-DECORATION: none
}
.kuan #youqinglianjie1 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bolder; FONT-SIZE: 12px; FLOAT: left; MARGIN-LEFT: -2px; VERTICAL-ALIGN: text-bottom; WIDTH: 100px; COLOR: #b44911; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#youqinglianjie1_er {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; FLOAT: left; MARGIN-LEFT: -8px; VERTICAL-ALIGN: text-bottom; WIDTH: 120px; COLOR: #b44911; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.gengduo {
	FONT-SIZE: 12px; FLOAT: right; WIDTH: 40px; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#gundongtupian .gundongtupian_liangce {
	MARGIN-TOP: 34px; FLOAT: left; MARGIN-LEFT: 2px; WIDTH: 13px; MARGIN-RIGHT: 2px; HEIGHT: 89px
}
#daohang {
	MARGIN-LEFT: auto; WIDTH: 996px; MARGIN-RIGHT: auto; HEIGHT: 31px
}
#daohang A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
#daohang A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #305ece; TEXT-DECORATION: none
}
.float {
	FLOAT: left
}
.out {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(/images/index_r3_c2.jpg); WIDTH: 97px; COLOR: #000000; LINE-HEIGHT: 30px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 31px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#erjicaidan {
	BORDER-RIGHT: #bcd5fb 1px solid; BORDER-TOP: #bcd5fb 1px solid; MARGIN-TOP: 1px; MARGIN-LEFT: auto; BORDER-LEFT: #bcd5fb 1px solid; WIDTH: 996px; MARGIN-RIGHT: auto; BORDER-BOTTOM: #bcd5fb 1px solid; HEIGHT: 28px; BACKGROUND-COLOR: #eff4fc
}
#content1 {
	MARGIN-TOP: 5px; MARGIN-LEFT: auto; WIDTH: 996px; MARGIN-RIGHT: auto; HEIGHT: 1px
}
#content2 {
	MARGIN-TOP: 5px; MARGIN-LEFT: auto; WIDTH: 996px; MARGIN-RIGHT: auto; HEIGHT: 1px
}
#flash {
	MARGIN-TOP: 1px; MARGIN-LEFT: auto; WIDTH: 996px; MARGIN-RIGHT: auto; HEIGHT: 149px
}
.er_daohang {
	MARGIN-TOP: 5px; PADDING-LEFT: 4px; FONT-SIZE: 12px; WIDTH: 724px; COLOR: #5572a3; LINE-HEIGHT: 29px; HEIGHT: 29px; BACKGROUND-COLOR: #ebf1fc; TEXT-ALIGN: left
}
.er_daohang_bottom {
	PADDING-LEFT: 4px; FONT-SIZE: 12px; MARGIN-BOTTOM: 5px; WIDTH: 724px; COLOR: #b44103; LINE-HEIGHT: 29px; HEIGHT: 29px; BACKGROUND-COLOR: #ebf1fc; TEXT-ALIGN: center
}
.er_neirong {
	MARGIN-TOP: 20px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; HEIGHT: 1px; TEXT-ALIGN: left
}
.er_neirong_lie {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 300px
}
.er_neirong_lie2 {
	PADDING-RIGHT: 30px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 710px
}
.ziti12 {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.ziti13 {
	FONT-WEIGHT: bolder; FONT-SIZE: 13px; COLOR: #000000; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
.zxdt {
	PADDING-LEFT: 3px; FONT-SIZE: 12px; FLOAT: left
}
.daohang LI {
	FLOAT: left; WIDTH: 120px; HEIGHT: 80px
}
