EM {
	COLOR: #e74348; FONT-STYLE: normal
}
.agent {
	BACKGROUND: #fff
}
.agent_top P {
	MARGIN: 0px 0px 10px 30px
}
.agent_con TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
.agent_con A {
	COLOR: #0000ff
}
.agent_con TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.agent_con UL.left_ul {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; PADDING-TOP: 18px
}
.agent_con UL.left_ul LI {
	PADDING-LEFT: 200px; BACKGROUND: url(images/example_bg.gif) no-repeat; MARGIN-BOTTOM: 30px; PADDING-BOTTOM: 10px
}
UL.left_ul LI.result_fir {
	BACKGROUND-POSITION: left -110px
}
UL.left_ul LI.person_fir {
	BACKGROUND-POSITION: left -218px
}
UL.left_ul LI.fresh_fir {
	BACKGROUND-POSITION: left -355px
}
.agent_con DL DT {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 4px; BORDER-BOTTOM: #ccc 1px solid
}
.agent_con DL DD {
	MARGIN-BOTTOM: 15px
}
.wrapper {
	BACKGROUND: #fff; MARGIN: auto; OVERFLOW: hidden; WIDTH: 750px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.apply_h {
	MARGIN-BOTTOM: 30px
}
.broker_msg {
	
}
.service_info {
	BORDER-RIGHT: #ffcf72 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ffcf72 1px solid; PADDING-LEFT: 8px; BACKGROUND: #fffbf2; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 8px; BORDER-LEFT: #ffcf72 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #ffcf72 1px solid
}
.service_info H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; MARGIN-BOTTOM: 8px; COLOR: red; FONT-FAMILY: "ºÚÌå"
}
.applyer {
	
}
.applyer TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.applyer TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.applyer TH {
	FONT-WEIGHT: 400
}
.applyer INPUT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; WIDTH: 205px; PADDING-TOP: 2px
}
.order_form {
	
}
.pay_status {
	PADDING-LEFT: 17px; MARGIN: 10px auto 32px
}
.pay_status P {
	FONT-SIZE: 14px; LINE-HEIGHT: 24px
}
.pay_status H2 {
	FONT-SIZE: 18px; MARGIN-BOTTOM: 10px; COLOR: #9999aa
}
.order_con {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; PADDING-BOTTOM: 17px; PADDING-TOP: 0px
}
.order_con IMG {
	MARGIN: 0px 10px 5px 0px
}
.order_suc {
	PADDING-RIGHT: 27px; PADDING-LEFT: 110px; PADDING-BOTTOM: 27px; LINE-HEIGHT: 25px; PADDING-TOP: 27px; BORDER-BOTTOM: #e5e5e5 1px solid
}
.order_suc_msg {
	BACKGROUND: url(images/order_suc_bg.gif) no-repeat 26px 17px
}
.logined {
	FONT-SIZE: 13px; MARGIN-BOTTOM: 30px
}
.tips {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.agent_loadingBody {
	Z-INDEX: 1000; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 800px
}
.agent_loading {
	BORDER-RIGHT: #ccc 5px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 5px solid; PADDING-LEFT: 10px; FONT-SIZE: 14px; BACKGROUND: #eee; PADDING-BOTTOM: 20px; MARGIN: 200px auto 0px; BORDER-LEFT: #ccc 5px solid; WIDTH: 500px; PADDING-TOP: 20px; BORDER-BOTTOM: #ccc 5px solid; TOP: 200px; TEXT-ALIGN: center
}
.wait_for_Body {
	Z-INDEX: 1000; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 800px; TEXT-ALIGN: center
}
.big_pop {
	MARGIN: 200px auto 0px; WIDTH: 400px; POSITION: relative! important
}
.tab {
	PADDING-LEFT: 17px; MARGIN-BOTTOM: 15px; BORDER-BOTTOM: #de0230 1px solid
}
.tab A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: 700; FONT-SIZE: 12px; BACKGROUND: #e5e5e5; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN-RIGHT: 5px; PADDING-TOP: 4px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tab A.checked {
	BACKGROUND: #de0230; COLOR: #fff
}
.tab LI A.checked {
	BACKGROUND: #de0230; COLOR: #fff
}
.tab LI.checked {
	BACKGROUND: #de0230; COLOR: #fff
}
