 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HTML {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
OBJECT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H5 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H6 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
IFRAME {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
FONT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
STRONG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
VAR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
LABEL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
CAPTION {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TBODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TFOOT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
THEAD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	FONT-SIZE: 12px; BACKGROUND: #fff; COLOR: #333; LINE-HEIGHT: 150%; FONT-FAMILY: Arial,Verdana,"宋体",Helvetica,sans-serif; HEIGHT: 100%
}
INPUT {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; FONT-FAMILY: Arial,Verdana,"宋体",Helvetica,sans-serif
}
TEXTAREA {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; FONT-FAMILY: Arial,Verdana,"宋体",Helvetica,sans-serif
}
SELECT {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; FONT-FAMILY: Arial,Verdana,"宋体",Helvetica,sans-serif
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
OPTGROUP {
	FONT-STYLE: normal
}
A:link {
	COLOR: #005b99; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #005b99; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #e00; TEXT-DECORATION: underline
}
A:active {
	COLOR: #e00; TEXT-DECORATION: underline
}
H1 {
	FONT-WEIGHT: 700; FONT-SIZE: 16px; FONT-FAMILY: Arial, "Lucida Grande", Verdana, sans-serif
}
H2 {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; FONT-FAMILY: Arial, "Lucida Grande", Verdana, sans-serif
}
H3 {
	FONT-WEIGHT: 700; FONT-SIZE: 12px; FONT-FAMILY: Arial, "Lucida Grande", Verdana, sans-serif
}
H4 {
	FONT-WEIGHT: 700; FONT-SIZE: 10px; FONT-FAMILY: Arial, "Lucida Grande", Verdana, sans-serif
}
STRONG {
	FONT-WEIGHT: 700
}
.red {
	COLOR: #db022e
}
.col_red {
	COLOR: #ff7e1f
}
.green {
	COLOR: #29a246
}
.tips {
	COLOR: #999
}
.tip {
	COLOR: #666
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; VISIBILITY: hidden; WIDTH: 0px; LINE-HEIGHT: 0; HEIGHT: 0px
}
.hidden {
	DISPLAY: none
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.fs11 {
	FONT-SIZE: 11px
}
.fs14 {
	FONT-SIZE: 14px
}
.box {
	MARGIN-BOTTOM: 10px
}
.line {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.not_line {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
.waining {
	BORDER-RIGHT: #fad026 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fad026 1px solid; PADDING-LEFT: 22px; FONT-SIZE: 12px; BACKGROUND: url(images/icons.gif) #ffffcc no-repeat 3px -332px; PADDING-BOTTOM: 2px; MARGIN: 5px auto; BORDER-LEFT: #fad026 1px solid; COLOR: #ff5400; PADDING-TOP: 2px; BORDER-BOTTOM: #fad026 1px solid
}
.suc {
	BORDER-RIGHT: #7fde5b 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #7fde5b 1px solid; PADDING-LEFT: 22px; FONT-SIZE: 12px; BACKGROUND: url(images/icons.gif) #e0fdbb no-repeat -57px -193px; PADDING-BOTTOM: 2px; MARGIN: 5px auto; BORDER-LEFT: #7fde5b 1px solid; COLOR: #2da300; PADDING-TOP: 2px; BORDER-BOTTOM: #7fde5b 1px solid
}
.option {
	
}
.ok {
	BORDER-RIGHT: #7fde5b 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #7fde5b 1px solid; PADDING-LEFT: 22px; FONT-SIZE: 12px; BACKGROUND: url(images/icons.gif) #e0fdbb no-repeat -57px -193px; PADDING-BOTTOM: 2px; MARGIN: 5px auto; BORDER-LEFT: #7fde5b 1px solid; COLOR: #2da300; PADDING-TOP: 2px; BORDER-BOTTOM: #7fde5b 1px solid
}
.warning {
	BORDER-RIGHT: #fad026 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fad026 1px solid; PADDING-LEFT: 22px; FONT-SIZE: 12px; BACKGROUND: url(images/icons.gif) #ffffcc no-repeat 3px -332px; PADDING-BOTTOM: 2px; MARGIN: 5px auto; BORDER-LEFT: #fad026 1px solid; COLOR: #ff5400; PADDING-TOP: 2px; BORDER-BOTTOM: #fad026 1px solid
}
BODY {
	TEXT-ALIGN: center
}
.wrap {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: auto; OVERFLOW: hidden; WIDTH: 930px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.wrap_t {
	BACKGROUND: #fff; MARGIN: auto; WIDTH: 930px; TEXT-ALIGN: left
}
.logo {
	PADDING-RIGHT: 10px; MARGIN: auto 8px 0px auto
}
.logo IMG {
	MARGIN-BOTTOM: 10px
}
.logo_s {
	PADDING-RIGHT: 10px; MARGIN-RIGHT: 8px
}
.all_city {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; BACKGROUND: url(images/head_bgs.gif) no-repeat right -26px; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 14px
}
.all_city P {
	LINE-HEIGHT: 16px
}
.all_city A {
	FONT-SIZE: 18px; FONT-FAMILY: "黑体"
}
.all_city A:link {
	COLOR: red; TEXT-DECORATION: none
}
.all_city A:visited {
	COLOR: red; TEXT-DECORATION: none
}
.all_city A:hover {
	TEXT-DECORATION: none
}
.all_city SPAN {
	FONT-SIZE: 11px; FONT-FAMILY: Arial
}
.header_t {
	BACKGROUND: url(images/top_b.gif) repeat-y left 50%
}
.head_right {
	TEXT-ALIGN: right
}
.head_right P {
	MARGIN-BOTTOM: 7px
}
.head_right P A {
	TEXT-DECORATION: none
}
.head_right P SPAN {
	PADDING-LEFT: 21px; BACKGROUND: url(images/head_bgs.gif) no-repeat left -85px
}
.nav {
	BACKGROUND: url(images/nav_mid.gif) repeat-x; OVERFLOW: hidden; HEIGHT: 31px
}
.nav SPAN {
	FLOAT: left
}
.nav .ul_l {
	PADDING-LEFT: 9px; BACKGROUND: url(images/nav_l.gif) no-repeat left top
}
.nav .ul_r {
	PADDING-RIGHT: 4px; BACKGROUND: url(images/nav_r.gif) no-repeat right top
}
.nav LI {
	PADDING-LEFT: 15px; FLOAT: left; LINE-HEIGHT: 31px; HEIGHT: 31px; TEXT-ALIGN: center
}
.nav LI A {
	PADDING-RIGHT: 15px; DISPLAY: block; FONT-WEIGHT: 700; FONT-SIZE: 14px; FLOAT: left; COLOR: #fff; HEIGHT: 31px; TEXT-DECORATION: none
}
.nav LI A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.nav LI A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.nav LI A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.nav LI.checked {
	MARGIN-TOP: 4px; BACKGROUND: url(images/nav_button.gif) no-repeat left 50%; LINE-HEIGHT: 27px; HEIGHT: 27px; TEXT-ALIGN: center
}
.nav LI.checked A {
	BACKGROUND: url(images/nav_button.gif) no-repeat right 50%; COLOR: #000; HEIGHT: 27px
}
.nav LI.checked A:visited {
	COLOR: #000
}
.area_list {
	BORDER-RIGHT: #e22b4d 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: #e22b4d 0px solid; PADDING-LEFT: 9px; BACKGROUND: url(images/area_list_bg.gif) repeat-x; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #e22b4d 1px solid; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: #e22b4d 0px solid; HEIGHT: 30px
}
.area_list H3 {
	COLOR: #085cb4
}
.area_list DL {
	FLOAT: left; LINE-HEIGHT: 29px
}
.area_list DD {
	FLOAT: left; LINE-HEIGHT: 29px
}
.area_list DT {
	FLOAT: left; LINE-HEIGHT: 29px
}
.area_list DL {
	MARGIN-LEFT: 10px
}
.area_list DL A:link {
	TEXT-DECORATION: none
}
.area_list DL A:visited {
	TEXT-DECORATION: none
}
.area_list DL A:hover {
	TEXT-DECORATION: underline
}
.area_list DT {
	FONT-WEIGHT: 700; COLOR: #7b7b7b
}
.area_list DD {
	MARGIN-LEFT: 5px
}
.s_search {
	BORDER-RIGHT: #e33354 1px solid; PADDING-RIGHT: 35px; BORDER-TOP: #e33354 1px; PADDING-LEFT: 10px; BACKGROUND: url(images/s_search.gif) repeat-x 50% bottom; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #e33354 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e33354 1px solid; HEIGHT: 100%
}
.s_search .keys {
	BORDER-RIGHT: #afb9c2 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #afb9c2 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; BORDER-LEFT: #afb9c2 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #afb9c2 1px solid; HEIGHT: 16px
}
.s_search .key_word {
	WIDTH: 200px
}
.s_search .key_city {
	WIDTH: 100px
}
.s_search SELECT.citys {
	BORDER-RIGHT: #afb9c2 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #afb9c2 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #afb9c2 1px solid; WIDTH: 110px; PADDING-TOP: 2px; BORDER-BOTTOM: #afb9c2 1px solid
}
.s_search .sub {
	BACKGROUND: url(images/search_btn.gif) no-repeat -76px top; WIDTH: 76px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 25px; BORDER-BOTTOM-STYLE: none
}
.s_search SPAN.switch {
	BORDER-RIGHT: #afb9c2 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #afb9c2 1px solid; MARGIN-TOP: -8px; PADDING-LEFT: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #afb9c2 1px; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: #afb9c2 1px solid
}
.s_search P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
P.personer {
	BACKGROUND: url(images/icons.gif) no-repeat left top
}
P.company {
	BACKGROUND: url(images/icons.gif) no-repeat -50px -33px; MARGIN-RIGHT: 45px
}
.com_logined {
	BORDER-RIGHT: transparent 1px solid; BORDER-TOP: transparent 1px solid; BACKGROUND: url(images/pop_button.gif) no-repeat right 50%; BORDER-LEFT: transparent 1px solid; WIDTH: 297px; LINE-HEIGHT: 24px; BORDER-BOTTOM: transparent 1px solid; HEIGHT: 24px
}
.com_logined_c {
	BORDER-RIGHT: #badefd 1px solid; BORDER-TOP: #badefd 1px solid; BACKGROUND: url(images/pop_button.gif) #eff3fb no-repeat right 50%; BORDER-LEFT: #badefd 1px solid; WIDTH: 297px; LINE-HEIGHT: 24px; BORDER-BOTTOM: #badefd 1px solid; POSITION: relative; HEIGHT: 24px
}
.c_photo {
	PADDING-LEFT: 28px; BACKGROUND: url(images/icons.gif) no-repeat -50px -33px; OVERFLOW: hidden; WIDTH: 170px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.pop_c {
	BORDER-RIGHT: #badefd 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #badefd 1px; PADDING-LEFT: 8px; BACKGROUND: #fff; LEFT: -1px; PADDING-BOTTOM: 6px; BORDER-LEFT: #badefd 1px solid; WIDTH: 281px; PADDING-TOP: 6px; BORDER-BOTTOM: #badefd 1px solid; POSITION: absolute; TOP: 25px
}
.com_logined_p {
	BORDER-RIGHT: #fad29b 1px solid; BORDER-TOP: #fad29b 1px solid; BACKGROUND: url(images/pop_button.gif) #fcffc6 no-repeat right 50%; BORDER-LEFT: #fad29b 1px solid; WIDTH: 297px; LINE-HEIGHT: 24px; BORDER-BOTTOM: #fad29b 1px solid; POSITION: relative; HEIGHT: 24px
}
.p_photo {
	PADDING-LEFT: 28px; BACKGROUND: url(images/icons.gif) no-repeat; OVERFLOW: hidden; WIDTH: 170px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.pop_p {
	BORDER-RIGHT: #fad29b 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #fad29b 1px; PADDING-LEFT: 8px; BACKGROUND: #fff; LEFT: -1px; PADDING-BOTTOM: 6px; BORDER-LEFT: #fad29b 1px solid; WIDTH: 281px; PADDING-TOP: 6px; BORDER-BOTTOM: #fad29b 1px solid; POSITION: absolute; TOP: 25px
}
.pop_p A {
	MARGIN-RIGHT: 7px
}
.num_list {
	FLOAT: right; LINE-HEIGHT: 32px
}
.num_list A {
	BORDER-RIGHT: #dfe2e7 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #dfe2e7 1px solid; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #dfe2e7 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #dfe2e7 1px solid; TEXT-DECORATION: none
}
.num_list A:link {
	TEXT-DECORATION: none
}
.num_list A:visited {
	TEXT-DECORATION: none
}
.num_list A:hover {
	BACKGROUND: #3468c4; COLOR: #fff
}
.num_list A:unknown {
	BACKGROUND: #3468c4; COLOR: #fff
}
.num_list UL.kind_tab A {
	BORDER-RIGHT: #dfe2e7 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #dfe2e7 1px solid; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #dfe2e7 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #dfe2e7 1px solid; TEXT-DECORATION: none
}
.num_list UL.kind_tab A:link {
	TEXT-DECORATION: none
}
.num_list UL.kind_tab A:visited {
	TEXT-DECORATION: none
}
.num_list UL.kind_tab A:hover {
	BACKGROUND: #3468c4; COLOR: #fff
}
.num_list UL.kind_tab A.checked {
	BACKGROUND: #3468c4; COLOR: #fff
}
.wrong_404 {
	MARGIN: 50px auto
}
.wrong_404 .title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 46px; BACKGROUND: url(images/404_bg.gif) no-repeat left top; PADDING-BOTTOM: 8px; PADDING-TOP: 0px; BORDER-BOTTOM: #e5e5e5 3px solid
}
.wrong_404 .con_404 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 46px; PADDING-BOTTOM: 10px; PADDING-TOP: 20px
}
.wrong_404 .con_404 LI {
	MARGIN-LEFT: 20px; LINE-HEIGHT: 28px; LIST-STYLE-TYPE: disc
}
.foot {
	PADDING-RIGHT: 10px; BORDER-TOP: #d9e0ed 2px solid; PADDING-LEFT: 10px; BACKGROUND: #f6f8ff; PADDING-BOTTOM: 20px; PADDING-TOP: 15px
}
.foot P {
	MARGIN-BOTTOM: 7px
}
.foot SPAN {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sta {
	DISPLAY: none
}
