 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#TB_window {
	FONT: 12px Arial, Helvetica, sans-serif; COLOR: #333333
}
#TB_secondLine {
	FONT: 10px Arial, Helvetica, sans-serif; COLOR: #666666
}
#TB_window A:link {
	COLOR: #666666
}
#TB_window A:visited {
	COLOR: #666666
}
#TB_window A:hover {
	COLOR: #000
}
#TB_window A:active {
	COLOR: #666666
}
#TB_window A:unknown {
	COLOR: #666666
}
#TB_overlay {
	Z-INDEX: 100; LEFT: 0px; WIDTH: 100%; POSITION: fixed; TOP: 0px; HEIGHT: 100%
}
.TB_overlayMacFFBGHack {
	BACKGROUND: url(macFFBgHack.png)
}
.TB_overlayBG {
	FILTER: alpha(opacity=45); BACKGROUND-COLOR: #000; moz-opacity: 0.45; opacity: 0.45
}
 HTML #TB_overlay {
	POSITION: absolute; ; HEIGHT: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')
}
#TB_window {
	BORDER-RIGHT: #6488b8 1px solid; BORDER-TOP: #6488b8 1px solid; DISPLAY: none; Z-INDEX: 102; BACKGROUND: url(bg_tb_window.gif) #f8fcfb repeat-x 0px 0px; LEFT: 50%; BORDER-LEFT: #6488b8 1px solid; COLOR: #000000; BORDER-BOTTOM: #6488b8 1px solid; POSITION: fixed; TOP: 50%; TEXT-ALIGN: left
}
 HTML #TB_window {
	; MARGIN-TOP: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); POSITION: absolute
}
#TB_window IMG#TB_Image {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #666 1px solid; DISPLAY: block; MARGIN: 15px 0px 0px 15px; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#TB_caption {
	PADDING-RIGHT: 30px; PADDING-LEFT: 25px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 7px; HEIGHT: 25px
}
#TB_closeWindow {
	PADDING-RIGHT: 25px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 10px; PADDING-TOP: 11px; HEIGHT: 25px
}
#TB_closeAjaxWindow {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: "ו"; TEXT-ALIGN: right
}
#TB_closeAjaxWindow A {
	TEXT-DECORATION: none
}
#TB_ajaxWindowTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #5a5152; LINE-HEIGHT: 22px; PADDING-TOP: 0px
}
#TB_title {
	BACKGROUND: url(bg_tb_title.gif) #c9dfea repeat-x 0px 0px; MARGIN: 1px; OVERFLOW: hidden; HEIGHT: 22px
}
#TB_ajaxContent {
	CLEAR: both; PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; OVERFLOW: auto; LINE-HEIGHT: 1.4em; PADDING-TOP: 2px; TEXT-ALIGN: left
}
.TB_modal#TB_ajaxContent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
#TB_ajaxContent P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#TB_load {
	DISPLAY: none; Z-INDEX: 103; LEFT: 50%; MARGIN: -6px 0px 0px -104px; WIDTH: 208px; POSITION: fixed; TOP: 50%; HEIGHT: 13px
}
 HTML #TB_load {
	; MARGIN-TOP: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); POSITION: absolute
}
#TB_HideSelect {
	Z-INDEX: 99; FILTER: alpha(opacity=0); LEFT: 0px; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: fixed; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #fff; BORDER-BOTTOM-STYLE: none; moz-opacity: 0; opacity: 0
}
 HTML #TB_HideSelect {
	POSITION: absolute; ; HEIGHT: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')
}
#TB_iframeContent {
	CLEAR: both; MARGIN-TOP: 1px; MARGIN-BOTTOM: 1px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
