HTML {
	BACKGROUND: url(../images/bg.jpg); COLOR: #333333
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IFRAME {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
LI {
	LIST-STYLE-TYPE: none
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
INPUT {
	FONT-FAMILY: inherit
}
BUTTON {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
INPUT {
	FONT: 100% Tahoma,Helvetica,Arial,sans-serif
}
BUTTON {
	FONT: 100% Tahoma,Helvetica,Arial,sans-serif
}
TEXTAREA {
	FONT: 100% Tahoma,Helvetica,Arial,sans-serif
}
SELECT {
	FONT: 100% Tahoma,Helvetica,Arial,sans-serif
}
BODY {
	FONT: 12px/18px Tahoma, Helvetica, Arial, sans-serif; TEXT-ALIGN: left
}
A {
	COLOR: #2754bb; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.c {
	CLEAR: both
}
#all {
	BACKGROUND: #ffffff; MARGIN: 0px auto; WIDTH: 960px; HEIGHT: auto
}
.Mcenter1 {
	MARGIN: 0px auto
}
.Mcenter2 {
	TEXT-ALIGN: center
}
.Mright1 {
	FLOAT: right
}
#header {
	BACKGROUND: url(../images/header.jpg) no-repeat 0px 0px; WIDTH: 960px; HEIGHT: 257px
}
#nav {
	OVERFLOW: hidden; WIDTH: 960px; HEIGHT: 65px
}
#nav UL LI {
	DISPLAY: block; FLOAT: left
}
#nav UL LI A {
	DISPLAY: block; HEIGHT: 65px
}
#nav UL LI.d1 A {
	BACKGROUND: url(../images/nav.jpg) no-repeat 0px 0px; WIDTH: 105px
}
#nav UL LI.d1 A:hover {
	BACKGROUND-POSITION: 0px -65px
}
#nav UL LI.d1 A.current {
	BACKGROUND-POSITION: 0px -65px
}
#nav UL LI.d2 A {
	BACKGROUND: url(../images/nav.jpg) no-repeat -105px 0px; WIDTH: 135px
}
#nav UL LI.d2 A:hover {
	BACKGROUND-POSITION: -105px -65px
}
#nav UL LI.d2 A.current {
	BACKGROUND-POSITION: -105px -65px
}
#nav UL LI.d3 A {
	BACKGROUND: url(../images/nav.jpg) no-repeat -240px 0px; WIDTH: 152px
}
#nav UL LI.d3 A:hover {
	BACKGROUND-POSITION: -240px -65px
}
#nav UL LI.d3 A.current {
	BACKGROUND-POSITION: -240px -65px
}
#nav UL LI.d4 A {
	BACKGROUND: url(../images/nav.jpg) no-repeat -392px 0px; WIDTH: 134px
}
#nav UL LI.d4 A:hover {
	BACKGROUND-POSITION: -392px -65px
}
#nav UL LI.d4 A.current {
	BACKGROUND-POSITION: -392px -65px
}
#nav UL LI.d5 A {
	BACKGROUND: url(../images/nav.jpg) no-repeat -526px 0px; WIDTH: 131px
}
#nav UL LI.d5 A:hover {
	BACKGROUND-POSITION: -526px -65px
}
#nav UL LI.d5 A.current {
	BACKGROUND-POSITION: -526px -65px
}
#nav UL LI.d6 A {
	BACKGROUND: url(../images/nav.jpg) no-repeat -657px 0px; WIDTH: 131px
}
#nav UL LI.d6 A:hover {
	BACKGROUND-POSITION: -657px -65px
}
#nav UL LI.d6 A.current {
	BACKGROUND-POSITION: -657px -65px
}
#nav UL LI.d7 A {
	BACKGROUND: url(../images/nav.jpg) no-repeat -788px 0px; WIDTH: 172px
}
#nav UL LI.d7 A:hover {
	BACKGROUND-POSITION: -788px -65px
}
#nav UL LI.d7 A.current {
	BACKGROUND-POSITION: -788px -65px
}
.gongGao {
	PADDING-RIGHT: 15px; BACKGROUND: #ffffff; WIDTH: 945px; COLOR: #cc6666; HEIGHT: 20px; TEXT-ALIGN: right
}
.gongGao SPAN.title {
	MARGIN-TOP: 2px; DISPLAY: block; FLOAT: right; WIDTH: 140px
}
.gongGao SPAN.guDingW {
	DISPLAY: block; FLOAT: right; WIDTH: 230px; TEXT-ALIGN: left
}
.gongGao A {
	COLOR: #cc6666
}
.gongGao A:hover {
	COLOR: #ff6600
}
#Mleft {
	FLOAT: left; MARGIN-LEFT: 6px; WIDTH: 246px; HEIGHT: auto
}
.textArea01 {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; FONT-SIZE: 14px; BACKGROUND: url(../images/dv01.jpg) #dedede no-repeat; PADDING-BOTTOM: 0px; MARGIN: 6px; WIDTH: 218px; COLOR: #000000; TEXT-INDENT: 4em; LINE-HEIGHT: 22px; PADDING-TOP: 18px; POSITION: relative; HEIGHT: 152px
}
.textArea01 A {
	FONT-WEIGHT: bold; COLOR: #000000
}
.textArea01 A:hover {
	COLOR: #ff6600
}
.imagesInText01 {
	BACKGROUND: url(../images/light.jpg) no-repeat; LEFT: -4px; WIDTH: 53px; POSITION: absolute; TOP: -6px; HEIGHT: 47px
}
.imagesInText02 A {
	BACKGROUND: url(../images/go.jpg) no-repeat; LEFT: 20px; WIDTH: 69px; POSITION: absolute; TOP: 120px; HEIGHT: 31px
}
.textArea02 {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; WIDTH: 238px; BORDER-BOTTOM: #c0c0c0 1px solid; HEIGHT: 244px
}
.textArea02 SPAN.d1 {
	DISPLAY: block; BACKGROUND: #e8e8e8; MARGIN: 5px; WIDTH: 228px; HEIGHT: 234px
}
.textArea02 SPAN.d2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 14px; WIDTH: 228px; PADDING-TOP: 14px; HEIGHT: 25px
}
.textArea02 SPAN.d3 {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 210px; COLOR: #6582f0; PADDING-TOP: 0px; HEIGHT: auto
}
.textArea02 SPAN.d4 {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 15px; WIDTH: 210px; COLOR: #697486; PADDING-TOP: 5px; HEIGHT: auto
}
.textArea03 {
	BACKGROUND: #d8d8d8; MARGIN: 6px 0px 4px; WIDTH: 240px
}
.textArea03 SPAN.d1 {
	MARGIN-TOP: 6px; DISPLAY: block; BACKGROUND: url(../images/exchange.jpg) #d8d8d8 no-repeat 0px 0px; WIDTH: 240px; PADDING-TOP: 9px; HEIGHT: 29px
}
.textArea03 SPAN.d2 {
	PADDING-RIGHT: 18px; DISPLAY: block; PADDING-LEFT: 18px; FONT-SIZE: 12px; PADDING-BOTTOM: 14px; WIDTH: 204px; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 0px; HEIGHT: auto
}
.textArea03 SPAN.d2 UL LI A {
	COLOR: #000000
}
.textArea03 SPAN.d2 UL LI A:hover {
	COLOR: #ff6600
}
.linkMore A {
	DISPLAY: block; FLOAT: right; WIDTH: 60px; HEIGHT: 29px
}
.textArea04 {
	BACKGROUND: #bfbfbf; WIDTH: 240px; HEIGHT: 213px
}
.textArea04 SPAN.d1 {
	DISPLAY: block; BACKGROUND: url(../images/special.jpg) no-repeat; WIDTH: 240px; HEIGHT: 70px
}
.textArea04 SPAN.d2 {
	PADDING-RIGHT: 13px; DISPLAY: block; PADDING-LEFT: 31px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 196px; COLOR: #ffffff; PADDING-TOP: 3px; HEIGHT: auto
}
.textArea04 SPAN.d2 A {
	COLOR: #ffffff
}
.textArea04 SPAN.d2 A:hover {
	COLOR: #ff6600
}
.textArea04 LI {
	TEXT-INDENT: -1.5em
}
.textArea05 {
	WIDTH: 240px; PADDING-TOP: 27px; HEIGHT: auto
}
.textArea05 SPAN.d1 {
	DISPLAY: block; BACKGROUND: url(../images/organize.jpg) no-repeat; PADDING-BOTTOM: 10px; WIDTH: 240px; HEIGHT: 33px
}
.textArea05 SPAN.d2 {
	DISPLAY: block; FONT-SIZE: 14px; WIDTH: auto; COLOR: #000000; LINE-HEIGHT: 22px; HEIGHT: auto; TEXT-ALIGN: left
}
.textArea05 SPAN.d2 A {
	COLOR: #ff6600
}
.textArea05 SPAN.d2 A:hover {
	COLOR: #ff6600
}
#footer {
	MARGIN-TOP: 4px; BACKGROUND: url(../images/footer.gif) #ffffff no-repeat 0px 0px; WIDTH: 960px; PADDING-TOP: 88px; HEIGHT: auto
}
.copyright {
	BACKGROUND: url(../images/logoBottom.gif) no-repeat 260px 0px; WIDTH: 960px; HEIGHT: 80px
}
.copyright UL {
	COLOR: #9e9da0; TEXT-ALIGN: center
}
.copyright UL LI {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.copyright SPAN {
	DISPLAY: block; FONT-SIZE: 12px; WIDTH: 960px; COLOR: #9e9da0; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.copyrightText A {
	COLOR: #9e9da0
}
.copyright SPAN A {
	COLOR: #9e9da0
}
.copyrightText A:hover {
	COLOR: #ff9900
}
.copyright SPAN A:hover {
	COLOR: #ff9900
}
#Mright {
	FLOAT: right; WIDTH: 666px; MARGIN-RIGHT: 6px; HEIGHT: auto
}
