A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
BODY {
	MARGIN-TOP: 0px; FONT: 12px 宋体,Verdana,Geneva, "Arial", sans-serif; TEXT-ALIGN: center
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.hidden {
	DISPLAY: none
}
.show {
	DISPLAY: block
}
.hand {
	CURSOR: pointer
}
.btn {
	CURSOR: pointer
}
.fLt {
	FLOAT: left
}
.fRt {
	FLOAT: right
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; HEIGHT: 1px
}
#Wp {
	MARGIN: 0px auto; WIDTH: 760px
}
#MCol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 760px; PADDING-TOP: 5px; POSITION: relative
}
.Big#Wp {
	WIDTH: 963px
}
#Wp2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px; POSITION: relative; TEXT-ALIGN: left
}
#Hd {
	CLEAR: both; FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
#Cn {
	CLEAR: both; FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
#Ft {
	CLEAR: both; FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
#Pp {
	CLEAR: both; FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
#Log {
	FLOAT: left; WIDTH: 178px
}
#Log A {
	DISPLAY: block; OVERFLOW: hidden; TEXT-INDENT: -1px; HEIGHT: 80px
}
#Ban {
	FLOAT: right; WIDTH: 576px
}
#BT UL {
	FLOAT: left; WIDTH: 100%
}
#BT LI.fst {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#BT LI.lnk {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#BT LI.cal {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.SubPage #BT LI.cal {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#BM {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#BM UL {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
#BM LI {
	FLOAT: left
}
#BM LI.fst {
	WIDTH: 10px
}
#BM LI.lst {
	FLOAT: right; WIDTH: 10px
}
#BT LI#LstUpdate {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#BT LI#BbsLink {
	PADDING-RIGHT: 30px
}
#AddFavo {
	BACKGROUND: url(img0/ico_favorite.gif) no-repeat 0px -1px
}
#SetHome {
	BACKGROUND: url(img0/ico_home.gif) no-repeat 0px 50%
}
#AddFavo A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#SetHome A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#Nav1 {
	BACKGROUND: url(img0/nav_ct.gif) repeat-x 0px 0px
}
#Nav1 LI {
	BACKGROUND: url(img0/nav_ico.gif) no-repeat 7px 3px; HEIGHT: 30px
}
#Nav1 LI A {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 23px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 9px
}
#Nav1 LI A {
	COLOR: #fff
}
#Nav1 LI A:visited {
	COLOR: #fff
}
#Nav1 LI.fst {
	BACKGROUND: url(img0/nav_lt.gif) no-repeat 0px 0px
}
#Nav1 LI.lst {
	BACKGROUND: url(img0/nav_rt.gif) no-repeat 100% 0px
}
#Nav2 LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-TOP: 0px
}
.SubPage #Nav2 LI {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.SubPage #Nav2 LI.tit {
	PADDING-RIGHT: 3px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#Nav2 {
	BACKGROUND: url(img0/nav_ct.gif) repeat-x 0px 100%
}
#Nav2 LI.fst {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; BACKGROUND: url(img0/nav_lt.gif) no-repeat 0px 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#Nav2 LI.lst {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(img0/nav_rt.gif) no-repeat 100% 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#Hot {
	FONT: 12px 宋体,Verdana,Geneva, "Arial", sans-serif
}
#CS6 {
	FONT: 12px 宋体,Verdana,Geneva, "Arial", sans-serif
}
#CT {
	FLOAT: left; MARGIN-BOTTOM: 12px; WIDTH: 100%
}
#CTSo {
	FLOAT: right; MARGIN-BOTTOM: 5px
}
#CTSo UL LI {
	FLOAT: left
}
#SBtn {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.SInp {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
#SBtn UL {
	FLOAT: left; WIDTH: 100%
}
#SBtn LI {
	LINE-HEIGHT: 20px; TEXT-ALIGN: center
}
#SBtn LI.fst {
	WIDTH: 60px; PADDING-TOP: 1px
}
#SBtn LI.btn {
	WIDTH: 55px
}
#SBtn LI.btn2 {
	WIDTH: 56px
}
#SBtn LI.lst {
	PADDING-LEFT: 10px; FLOAT: right
}
#SBtn LI A {
	DISPLAY: block
}
#SBtn LI.lst A {
	DISPLAY: inline
}
#CTSo {
	FLOAT: right; WIDTH: 574px
}
#CUrl {
	FLOAT: right; WIDTH: 574px
}
#CTWh {
	FLOAT: left; WIDTH: 170px
}
#SBtn LI A {
	BORDER-TOP: 1px solid; DISPLAY: block; LINE-HEIGHT: 20px
}
#SBtn LI.btn2 A {
	BORDER-TOP: 2px solid; DISPLAY: block; FONT-WEIGHT: bold; LINE-HEIGHT: 19px
}
#SInp {
	BORDER-RIGHT: 1px solid; BACKGROUND-POSITION: 212px 0px; BORDER-TOP: 1px solid; FLOAT: left; BORDER-LEFT: 1px solid; WIDTH: 100%; BORDER-BOTTOM: 1px solid; BACKGROUND-REPEAT: no-repeat
}
#SInp LI.fst {
	WIDTH: 120px; HEIGHT: 34px; TEXT-ALIGN: center
}
#SInp LI.fst IMG {
	MARGIN-TOP: 6px
}
#SInp LI.inp {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
#SInp LI.inp .txt {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 14px; BORDER-LEFT: 1px solid; WIDTH: 214px; BORDER-BOTTOM: 1px solid
}
#SInp LI.inp .btn {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: -2px; FONT-SIZE: 14px; MARGIN-LEFT: 2px; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; LETTER-SPACING: 2px
}
#SInp LI.key {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 170px; PADDING-TOP: 11px
}
#SInp LI.key A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#CS {
	FLOAT: left; WIDTH: 170px
}
#CM {
	FLOAT: right; WIDTH: 575px
}
.CS {
	CLEAR: both; FLOAT: left
}
.CS {
	WIDTH: 100%
}
.CM {
	WIDTH: 100%
}
.Fav {
	PADDING-BOTTOM: 6px; TEXT-ALIGN: right
}
#CT .CS {
	WIDTH: 170px
}
#CT .CM {
	WIDTH: 575px
}
#CM1 .tit A {
	FLOAT: left
}
#News {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.CM .tit UL {
	FLOAT: right
}
.CM .tit UL LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
#Hot .txt LI {
	LINE-HEIGHT: 19px
}
#Hot .txt {
	PADDING-BOTTOM: 1px
}
IFRAME#FrmUrl {
	WIDTH: 574px; HEIGHT: 155px
}
#CT #Hot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#CT #CM1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CS {
	PADDING-BOTTOM: 10px
}
#CS2 {
	PADDING-BOTTOM: 11px
}
#CS3 {
	PADDING-BOTTOM: 11px
}
.CS .tit {
	CLEAR: both; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FLOAT: left; BORDER-LEFT: 1px solid; WIDTH: 100%; BORDER-BOTTOM: 1px solid
}
.CS .tit H2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 10px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.CS .tit A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 12px; FLOAT: right; PADDING-BOTTOM: 2px; PADDING-TOP: 4px
}
.CS .txt {
	CLEAR: both; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FLOAT: left; BORDER-LEFT: 1px solid; WIDTH: 100%; BORDER-BOTTOM: 1px solid
}
.CS .txt UL {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.CS .txt LI {
	DISPLAY: block; FLOAT: left; LINE-HEIGHT: 23px
}
.CS .txt .myselect {
	WIDTH: 118px
}
#Hot {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
#Hot .tit {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#Hot .txt {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#Hot .txt IFRAME {
	HEIGHT: 180px
}
#Hot .txt UL {
	TEXT-ALIGN: left
}
#Hot .txt LI A.pic {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#Hot .txt LI A.pic IMG {
	WIDTH: 56px; HEIGHT: 70px
}
.SubPage #Hot .txt LI A.pic IMG {
	WIDTH: 45px; HEIGHT: 70px
}
#Hot .txt UL.top {
	MARGIN-TOP: 1px
}
#Hot .txt UL.top .p {
	WIDTH: 36%; TEXT-ALIGN: center
}
#Hot .txt UL.top .t {
	WIDTH: 64%
}
#Hot .txt UL.nor {
	MARGIN-BOTTOM: 2px
}
#Hot .txt UL.nor LI {
	CLEAR: both; WIDTH: 100%
}
#SAd1 {
	PADDING-RIGHT: 0px; BORDER-TOP: 1px dotted; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#SAd1 LI {
	FLOAT: left; MARGIN: 1px 0px 0px; WIDTH: 50%; TEXT-ALIGN: center
}
#CS1 .tit A.tit0 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
#CS1 .txt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#CS2 .txt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 2px
}
#CS2 TABLE {
	WIDTH: 100%
}
#CS2 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
#CS2 TD.op {
	TEXT-ALIGN: right
}
#CS2 .InpTxt {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; WIDTH: 100px; BORDER-BOTTOM: 1px solid
}
#CS2 .Btn {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-LEFT: 2px; BORDER-LEFT: 1px solid; WIDTH: 44px; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; LETTER-SPACING: 2px
}
#CS3 UL LI {
	WIDTH: 49%; TEXT-ALIGN: center
}
#CS3 UL LI A {
	DISPLAY: block
}
#CS4 UL LI {
	WIDTH: 49%
}
#CS5 UL LI {
	WIDTH: 33%
}
#CS4 UL LI A {
	DISPLAY: block; TEXT-ALIGN: center
}
#CS5 UL LI A {
	DISPLAY: block; TEXT-ALIGN: center
}
#CS6 UL LI {
	CLEAR: both; PADDING-LEFT: 7px; FLOAT: none
}
#CB {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.CB {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.CB .tit {
	PADDING-RIGHT: 1px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.CB .txt {
	FLOAT: right
}
.CB .txt LI {
	FLOAT: left
}
.CM {
	FLOAT: right; MARGIN-BOTTOM: 7px
}
.CM .tit {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.CM .tit H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 88px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.CM .txt {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
#CM1 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#CM1 .tit A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; WIDTH: 88px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
#CM1 .tit A.cur {
	FONT-WEIGHT: bold
}
#CM1 .thelp {
	PADDING-RIGHT: 5px; FLOAT: right
}
#CM1 .thelp A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; WIDTH: auto; PADDING-TOP: 3px
}
#CM2 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 12px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#CM2 .txt UL {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
#CM2 .txt LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
#CM2 .txt LI A {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 58px; LINE-HEIGHT: 22px; HEIGHT: 22px
}
#CM3 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#CM3 DL {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
#CM3 DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px; LETTER-SPACING: 3px
}
#CM3 DT A.En {
	MARGIN-RIGHT: 0px; LETTER-SPACING: 0px
}
#CM3 DD {
	FLOAT: left
}
#CM3 DD.more {
	FLOAT: right; TEXT-ALIGN: right
}
#CM3 DD A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px
}
#Game {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: 1px solid
}
#Game .txt {
	WIDTH: 90%
}
#Game .txt LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; WIDTH: 75px; PADDING-TOP: 2px
}
#CBSo {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 8px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#CBSo .tit .InpTxt {
	WIDTH: 136px
}
#CBSo .tit .InpBtn {
	MARGIN: 0px 5px
}
#CBSo .txt {
	WIDTH: 65%
}
#CBSo .txt LI {
	WIDTH: 60px
}
#Report {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: 1px solid
}
#Report .txt {
	WIDTH: 85%
}
#Report .txt LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; WIDTH: 120px; PADDING-TOP: 2px
}
#Ft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#FL {
	LINE-HEIGHT: 22px
}
#FL A.goback {
	FONT-SIZE: 14px
}
#FCL {
	FLOAT: left; MARGIN-LEFT: 129px; WIDTH: 450px; LINE-HEIGHT: 25px
}
#FCR {
	FLOAT: left; WIDTH: 40px
}
#CUrl {
	FLOAT: left; MARGIN-BOTTOM: 0px; WIDTH: 100%
}
#CUrl LI {
	FLOAT: left
}
#CUrl LI A {
	DISPLAY: block; WIDTH: 114px; LINE-HEIGHT: 20px; TEXT-ALIGN: center
}
#CBody {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.SubPage .Cn2 #CS {
	FLOAT: right; PADDING-BOTTOM: 10px
}
.SubPage .Cn2 #CM {
	FLOAT: left
}
.SubPage .Cn3 #CS {
	DISPLAY: none
}
.SubPage .Cn3 #CM {
	WIDTH: 100%
}
.SubPage .Cn3 .UrlTit {
	WIDTH: 758px
}
.SubPage .Cn3 .UrlTxt {
	WIDTH: 758px
}
.SubPage .Cn3 .UrlTxt UL LI {
	WIDTH: 20%
}
#SkinCtrl {
	BORDER-RIGHT: #99beef 1px solid; BORDER-TOP: #99beef 1px solid; BACKGROUND: #fff; BORDER-LEFT: #99beef 1px solid; BORDER-BOTTOM: #99beef 1px solid; POSITION: absolute; TEXT-ALIGN: left
}
.OpH {
	BACKGROUND: url(img/tit_bg.gif) #d2e4fc repeat-x -1px 50%; FLOAT: left; WIDTH: 320px; COLOR: #0272c1; LINE-HEIGHT: 22px
}
.OpH STRONG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.OpH .BtnClose {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.OpF {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.OpF {
	COLOR: #999
}
.OpF A {
	COLOR: #999
}
.OpF A:visited {
	COLOR: #999
}
.OpB {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 5px
}
.OpB A:hover {
	FONT-WEIGHT: bold
}
.OpB UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 302px; PADDING-TOP: 5px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.OpB LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 150px; PADDING-TOP: 3px
}
.OpB LI.chosed {
	BACKGROUND: url(img0/chosed.gif) no-repeat 13px 50%
}
.OpB LI.chosed A {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.OpB LI A {
	DISPLAY: block; PADDING-LEFT: 10px
}
#SkinTyp1 IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #ccc 1px solid; MARGIN-RIGHT: 4px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 14px
}
#TreeMenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#TreeData {
	PADDING-LEFT: 10px
}
#TreeMenu UL {
	FLOAT: none
}
#TreeMenu UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 0px
}
#TreeMenu .unum {
	FONT: 11px Arial,Verdana,Geneva,sans-serif
}
#TreeMenu IMG.s {
	VERTICAL-ALIGN: middle; WIDTH: 18px; HEIGHT: 20px
}
#TreeMenu IMG.c {
	VERTICAL-ALIGN: middle; WIDTH: 18px; HEIGHT: 16px
}
#TreeMenu IMG.s {
	CURSOR: pointer
}
#TreeMenu UL LI.open .s {
	BACKGROUND: url(tree/tree_open.gif) no-repeat 50% 2px
}
#TreeMenu UL LI.close .s {
	BACKGROUND: url(tree/tree_close.gif) no-repeat 50% 2px
}
#TreeMenu UL LI.close UL {
	DISPLAY: none; MARGIN: 0px 0px 0px -80px
}
#TreeMenu UL LI.child .c {
	BACKGROUND: url(tree/dot.gif) no-repeat 5px 5px
}
#TreeMenu UL LI {
	PADDING-LEFT: 6px
}
#TreeMenu UL LI LI {
	PADDING-LEFT: 12px
}
#TreeMenu UL LI LI LI {
	PADDING-LEFT: 12px
}
#Pp {
	PADDING-RIGHT: 0px; BORDER-TOP: #dedede 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px; FONT: 12px Verdana, 宋体,Geneva, "Arial",sans-serif; PADDING-TOP: 3px
}
#Pp .Link {
	BACKGROUND: url(img0/home.gif) no-repeat 3px 50%; FLOAT: right; MARGIN: 0px 2px 0px 0px
}
#Pp .Link P {
	PADDING-LEFT: 23px
}
#Pp .Option {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.SubPage #Pp {
	LINE-HEIGHT: 25px
}
#RtCol {
	FLOAT: right; WIDTH: 190px; TEXT-ALIGN: left
}
.RtWel {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; HEIGHT: 24px; TEXT-ALIGN: center
}
.RtPB {
	FLOAT: left; WIDTH: 100%; TEXT-ALIGN: center
}
.RtPB UL LI {
	FLOAT: left; WIDTH: 63px
}
#PB1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 9px; PADDING-TOP: 14px
}
#PB1 UL LI {
	HEIGHT: 46px
}
.RtBox {
	CLEAR: both; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FLOAT: left; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.RtBox .Tit {
	CLEAR: both; WIDTH: 186px
}
.RtBox .Txt {
	CLEAR: both; WIDTH: 186px
}
.RtBox .Tit {
	FLOAT: left; BORDER-BOTTOM: 1px solid
}
.RtBox .Tit H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px
}
.RtBox .Txt {
	TEXT-ALIGN: center
}
.RtBox .Txt UL {
	TEXT-ALIGN: left
}
.RtBox UL.X1 LI {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 21px; PADDING-TOP: 0px
}
.RtBox UL.X2 {
	MARGIN: 0px auto; WIDTH: 162px
}
.RtBox UL.X2 LI {
	FLOAT: left; WIDTH: 50%; LINE-HEIGHT: 22px; BORDER-BOTTOM: 1px dotted
}
.RtBox UL.X2 LI.lst {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.RtBox .Tit A.more {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 12px; FLOAT: right; PADDING-BOTTOM: 2px; PADDING-TOP: 4px
}
#RtBox1 {
	MARGIN-BOTTOM: 12px
}
#RtBox1 .Tit H3 {
	LINE-HEIGHT: 20px
}
#RtBox2 {
	MARGIN-BOTTOM: 13px
}
.RTop .Txt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#RtTop2 {
	BORDER-TOP-WIDTH: 0px
}
#RtTop3 {
	BORDER-TOP-WIDTH: 0px
}
#RtTop4 {
	BORDER-TOP-WIDTH: 0px
}
#RtTop4 .Txt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#FamUrl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#FamUrl UL LI {
	BACKGROUND: url(img2/skin2_dot.gif) no-repeat 0px 7px; FLOAT: left; WIDTH: 14%; LETTER-SPACING: 0px
}
#FamUrl UL LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 21px; PADDING-TOP: 0px; BORDER-BOTTOM: #dfdfdf 1px dotted
}
BODY.CityGuide {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#CityGuide {
	WIDTH: 100%; TEXT-ALIGN: left
}
#CityGuide UL LI {
	BACKGROUND: url(img2/skin2_dot.gif) no-repeat 0px 7px; FLOAT: left; WIDTH: 14%; LETTER-SPACING: 0px
}
#CityGuide UL LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 21px; PADDING-TOP: 0px
}
#DirNav .tit H2 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 5px
}
.UrlSort {
	CLEAR: both; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FLOAT: right; MARGIN-BOTTOM: 12px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.UrlTit {
	CLEAR: both; FLOAT: left; WIDTH: 575px
}
.UrlTxt {
	CLEAR: both; FLOAT: left; WIDTH: 575px
}
.UrlTit {
	BORDER-BOTTOM: 1px solid
}
.UrlTit H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 100px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.UrlTit H2 .desc {
	FONT-WEIGHT: normal
}
.UrlTit .back {
	PADDING-RIGHT: 10px; FLOAT: right; LINE-HEIGHT: 22px
}
.UrlTxt {
	TEXT-ALIGN: center
}
.UrlTxt UL {
	CLEAR: both; MARGIN-LEFT: 1px; TEXT-ALIGN: left
}
.UrlTxt UL LI {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 143px; BORDER-BOTTOM: 1px solid; HEIGHT: 21px
}
.UrlTxt UL LI A {
	PADDING-LEFT: 12px; LINE-HEIGHT: 21px
}
.SoKeys {
	FLOAT: left; MARGIN: 0px; WIDTH: 100%
}
.SoKeys DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.SoKeys DT STRONG {
	FONT-WEIGHT: normal
}
.SoKeys DD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.UrlTxt UL LI.hot A:link {
	COLOR: navy
}
.UrlTxt UL LI.hot A:hover {
	COLOR: red
}
.UrlTxt UL LI.hot A:visited {
	COLOR: navy
}
.Adv {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.Ads_m {
	FLOAT: right; WIDTH: 575px
}
.RtAd2 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 11px; TEXT-ALIGN: center
}
#TopAds1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 3px; PADDING-TOP: 0px
}
#TopAds1 LI A {
	LINE-HEIGHT: 15px
}
#tAds_s {
	PADDING-RIGHT: 0px; BORDER-TOP: #cdcdcd 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #cdcdcd 1px dotted
}
#tAds_s {
	FLOAT: left; WIDTH: 170px
}
#tAds_s .AdsPic {
	FLOAT: left
}
#tAds_s .AdsTxt {
	FLOAT: right; WIDTH: 125px
}
#tAds_s .AdsTxt LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}
#OrdSkin {
	PADDING-LEFT: 2px; COLOR: #ccc
}
#OrdSkin A {
	DISPLAY: inline; BACKGROUND: none transparent scroll repeat 0% 0%
}
.CSAds {
	CLEAR: both; BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eee 1px solid; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; BORDER-LEFT: #eee 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #eee 1px solid
}
.CSAds P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#CM2 #GMNav UL LI A {
	OVERFLOW: hidden; WIDTH: 58px
}
