BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
TEXTAREA {
	BORDER-RIGHT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #c6c6c6 1px solid; COLOR: #444444; BORDER-BOTTOM: #c6c6c6 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.INPUT_1 {
	BORDER-RIGHT: #bbb 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #bbb 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px 5px; BORDER-LEFT: #bbb 1px solid; COLOR: #555555; LINE-HEIGHT: 120%; PADDING-TOP: 2px; BORDER-BOTTOM: #bbb 1px solid; FONT-FAMILY: "ו",Tahoma,Verdana; BACKGROUND-COLOR: #ffffff
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
#head {
	CLEAR: both; BACKGROUND: url(bg26.gif) repeat-x left top; MARGIN: 0px auto 8px; WIDTH: 960px; TEXT-ALIGN: left
}
#he4 {
	FLOAT: left; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 3px; WIDTH: 810px; COLOR: #000; LINE-HEIGHT: 22px; FONT-FAMILY: "ו"; TEXT-ALIGN: left
}
#he4 A {
	COLOR: #000
}
#he4 A:hover {
	COLOR: #ff0000
}
#he7 {
	BACKGROUND: url(bg1.gif) repeat-x; MARGIN: auto; WIDTH: 960px
}
#logo {
	FLOAT: left
}
#contet {
	PADDING-LEFT: 13px; BACKGROUND: url(bg177.gif); FLOAT: left; WIDTH: 735px; COLOR: #fff; LINE-HEIGHT: 28px; PADDING-TOP: 1px; FONT-FAMILY: "ו"; TEXT-ALIGN: left
}
#contet A {
	COLOR: #fff
}
#contet A:hover {
	COLOR: #ffff00
}
#dhfl {
	MARGIN-TOP: 4px; FLOAT: left
}
#dhfl A {
	COLOR: #fff
}
#dhfl A:hover {
	COLOR: #ffff22
}
.mar5 {
	MARGIN-TOP: 5px
}
#heri {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; FLOAT: left; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 1px; WIDTH: 948px; COLOR: #185582; LINE-HEIGHT: 25px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#heri A {
	COLOR: #828282
}
#heri A:hover {
	COLOR: #ff0000
}
#he6 {
	BORDER-RIGHT: #ccc8c9 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccc8c9 1px solid; MARGIN-TOP: 7px; PADDING-LEFT: 15px; FLOAT: right; PADDING-BOTTOM: 7px; BORDER-LEFT: #ccc8c9 1px solid; WIDTH: 200px; COLOR: #000; LINE-HEIGHT: 20px; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc8c9 1px solid; TEXT-ALIGN: left
}
#he6 A {
	FONT-SIZE: 14px
}
#link {
	CLEAR: both; BORDER-RIGHT: #f9cc67 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: #f9cc67 1px solid; PADDING-LEFT: 12px; BACKGROUND: url(dv_bj2.gif); PADDING-BOTTOM: 5px; MARGIN: 10px auto auto; BORDER-LEFT: #f9cc67 1px solid; WIDTH: 940px; LINE-HEIGHT: 22px; PADDING-TOP: 7px; BORDER-BOTTOM: #f9cc67 1px solid; TEXT-ALIGN: left
}
#link A {
	COLOR: #333
}
#link A:hover {
	COLOR: #ff3300
}
#bottom {
	PADDING-RIGHT: 0px; BORDER-TOP: #e9e9e9 1px solid; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; MARGIN: 10px auto auto; WIDTH: 960px; COLOR: #444; LINE-HEIGHT: 24px; PADDING-TOP: 12px; TEXT-ALIGN: center
}
#bottom A {
	COLOR: #333; TEXT-DECORATION: underline
}
#bottom A:hover {
	COLOR: #ff0000
}
