BODY {
	MARGIN: 0px
}
.acsfbj_bt {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fa140b; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt1 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fa140b; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt1 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fa140b; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt1 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fa140b; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt1 A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fa140b; LINE-HEIGHT: 25px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt01 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt01 A:link {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt01 A:visited {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt01 A:hover {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt01 A:active {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt02 {
	FONT-SIZE: 12px; COLOR: #fa140b; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt02 A:link {
	FONT-SIZE: 12px; COLOR: #fa140b; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt02 A:visited {
	FONT-SIZE: 12px; COLOR: #fa140b; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt02 A:hover {
	FONT-SIZE: 12px; COLOR: #fa140b; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt02 A:active {
	FONT-SIZE: 12px; COLOR: #fa140b; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt03 {
	FONT-SIZE: 12px; COLOR: #218902; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt03 A:link {
	FONT-SIZE: 12px; COLOR: #218902; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt03 A:visited {
	FONT-SIZE: 12px; COLOR: #218902; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt03 A:hover {
	FONT-SIZE: 12px; COLOR: #218902; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt03 A:active {
	FONT-SIZE: 12px; COLOR: #218902; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt04 {
	FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt04 A:link {
	FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt04 A:visited {
	FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt04 A:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt04 A:active {
	FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt05 {
	FONT-SIZE: 12px; COLOR: #5a5a5a; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt05 A:link {
	FONT-SIZE: 12px; COLOR: #5a5a5a; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt05 A:visited {
	FONT-SIZE: 12px; COLOR: #5a5a5a; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt05 A:hover {
	FONT-SIZE: 12px; COLOR: #5a5a5a; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt05 A:active {
	FONT-SIZE: 12px; COLOR: #5a5a5a; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt06 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt06 A:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt06 A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.acsfbj_bt06 A:unknown {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bt06 A:active {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.acsfbj_bk {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; BORDER-BOTTOM: #d1d1d1 1px solid
}
.acsfbj_bk1 {
	BORDER-BOTTOM: #b3bbd0 1px dashed
}
.acsfbj_bk2 {
	BORDER-RIGHT: #f86400 1px solid; BORDER-TOP: #f86400 1px solid; BORDER-LEFT: #f86400 1px solid; BORDER-BOTTOM: #f86400 1px solid
}
