TD {
	FONT-SIZE: 12px; COLOR: #444444; LINE-HEIGHT: 160%; FONT-FAMILY: "宋体"
}
INPUT {
	FONT-SIZE: 12px; COLOR: #444444; FONT-FAMILY: "宋体"
}
SELECT {
	FONT-SIZE: 12px; COLOR: #444444; FONT-FAMILY: "宋体"
}
.f12 {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
.f14 {
	FONT-SIZE: 14px; COLOR: #444444; LINE-HEIGHT: 160%; FONT-FAMILY: "宋体"
}
P {
	FONT-SIZE: 14px; COLOR: #444444; LINE-HEIGHT: 160%; FONT-FAMILY: "宋体"
}
A:link {
	COLOR: #444444; TEXT-DECORATION: none
}
A:visited {
	COLOR: #444444; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a02:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.a02:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.a02:active {
	COLOR: #666666; TEXT-DECORATION: none
}
A.a02:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
A.white:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.grey:link {
	COLOR: #aaaaaa; TEXT-DECORATION: underline
}
A.grey:visited {
	COLOR: #aaaaaa; TEXT-DECORATION: underline
}
A.grey:unknown {
	COLOR: #aaaaaa; TEXT-DECORATION: none
}
A.grey:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
BODY {
	BACKGROUND-IMAGE: url(/images/bg/green.gif); MARGIN: 0px; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: "宋体"
}
.sfont {
	LINE-HEIGHT: 20px
}
.style1 {
	COLOR: #ff0000
}
.f12b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: "宋体"
}
.f14b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"
}
.f12bt {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FILTER: dropshadow(color=#ffffff,offx=1,offy=1); COLOR: #000000; FONT-FAMILY: "宋体"
}
.f16_h {
	FONT-SIZE: 16px; LINE-HEIGHT: 150%; FONT-FAMILY: 黑体
}
.toleft {
	PADDING-LEFT: 18px
}
.spanhide {
	LEFT: 1px; VISIBILITY: hidden; WIDTH: 1px; POSITION: absolute; TOP: 1px; HEIGHT: 1px
}
.enfont {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: "Arial"
}
.styleout {
	BACKGROUND-COLOR: #ffffff
}
.styleover {
	CURSOR: hand; BACKGROUND-COLOR: #f7f8f9
}
#bar1 {
	BACKGROUND-IMAGE: url(http://www.it.com.cn/images/title_bg.gif); PADDING-TOP: 5px; HEIGHT: 27px
}
#bar_left {
	FLOAT: left
}
#bar_right {
	FLOAT: right
}
#cor5 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#art_bgf1f1f1 {
	BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: left
}
#cor_top {
	BACKGROUND-IMAGE: url(http://www.it.com.cn/images/comm/0830_cor_top.gif); HEIGHT: 5px
}
#cor_left_bot {
	WIDTH: 173px; HEIGHT: 5px; b: url(http://www.it.com.cn/images/comm/0830_cor_bot.gif)
}
#cor_bot {
	BACKGROUND-IMAGE: url(http://www.it.com.cn/images/comm/0830_cor_bot.gif); HEIGHT: 5px
}
#cor_left {
	FLOAT: left
}
#cor_right {
	FLOAT: right
}
#art_main_right {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BACKGROUND-COLOR: #ffffff
}
.font1 {
	FONT-SIZE: 12px; FILTER: dropshadow(color=#FFFFCC,offx=1,offy=1); COLOR: #000000; FONT-FAMILY: "宋体"
}
#menu UL {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 18px; BORDER-LEFT: medium none; LINE-HEIGHT: normal; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; LIST-STYLE-TYPE: none
}
#menu LI {
	BORDER-TOP: #fff 1px solid; FONT-SIZE: 12px; LIST-STYLE-IMAGE: url(http://www.it.com.cn/images/comm/bjk_11.gif); MARGIN: 0px; HEIGHT: 22px
}
.font_m {
	FONT-SIZE: 12px; FILTER: dropshadow(color=#C4F88F,offx=1,offy=1); COLOR: #333333; FONT-FAMILY: "宋体"
}
#focusblock {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; WIDTH: 295px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 260px
}
#focustitle {
	BORDER-RIGHT: #cfebbf 1px solid; BORDER-TOP: #cfebbf 1px solid; MARGIN: 2px; BORDER-LEFT: #cfebbf 1px solid; WIDTH: 100%; BORDER-BOTTOM: #cfebbf 1px solid; HEIGHT: 55px; BACKGROUND-COLOR: #e7f7d7; TEXT-ALIGN: center
}
#focusbigtitle {
	FONT-SIZE: 16px; COLOR: #000000; LINE-HEIGHT: 200%; FONT-FAMILY: 黑体
}
#focuscontent {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; LINE-HEIGHT: 180%
}
#hline {
	CLEAR: both; BACKGROUND-IMAGE: url(/images/home0628/vline.gif); MARGIN: 2px; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x
}
#artbigtitle {
	FONT-SIZE: 16px; MARGIN-BOTTOM: 5px; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 200%; FONT-FAMILY: 黑体; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: center
}
#artblock {
	CLEAR: both; WIDTH: 100%; LINE-HEIGHT: 180%
}
#arttitle {
	PADDING-LEFT: 8px; FLOAT: left
}
#artcomment {
	FLOAT: right; WIDTH: 40px; COLOR: #ababab; LETTER-SPACING: 1px; TEXT-ALIGN: center
}
#artcomment A {
	COLOR: #ababab; TEXT-DECORATION: none
}
.prodblock {
	BORDER-RIGHT: #7cc255 1px solid; BORDER-TOP: #7cc255 1px solid; BORDER-LEFT: #7cc255 1px solid; WIDTH: 225px; BORDER-BOTTOM: #7cc255 1px solid; BACKGROUND-COLOR: #f6fbef
}
#prodtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bolder; PADDING-BOTTOM: 0px; MARGIN: 2px 2px 5px; WIDTH: 220px; COLOR: #3a720c; PADDING-TOP: 0px; LETTER-SPACING: 2px; BACKGROUND-COLOR: #d4e7ba
}
#prodtitle A {
	COLOR: #3a720c; TEXT-DECORATION: none
}
.prodsubtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bolder; PADDING-BOTTOM: 0px; MARGIN: 2px 2px 5px; WIDTH: 220px; COLOR: #3a720c; PADDING-TOP: 0px; LETTER-SPACING: 2px; BACKGROUND-COLOR: #d4e7ba
}
.prodcontent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 180%; PADDING-TOP: 0px
}
#pptitle {
	PADDING-LEFT: 10px; BACKGROUND: #d0e5f9; MARGIN: 1px; WIDTH: 166px; COLOR: #0070d5; LETTER-SPACING: 1px; TEXT-ALIGN: left
}
#pptitle A {
	COLOR: #0070d5; TEXT-DECORATION: none
}
.ppcontent {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#hqtitle {
	PADDING-LEFT: 10px; BACKGROUND: #feeddb; MARGIN: 1px; COLOR: #d04d07; LETTER-SPACING: 1px; TEXT-ALIGN: left
}
.hqcontent {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.topbar {
	BORDER-RIGHT: #fff 1px solid; BACKGROUND-IMAGE: url(http://www.it.com.cn/images/comm/barbg1.gif); BORDER-LEFT: #f5f5f5 1px solid; BORDER-BOTTOM: #bbb 1px solid; HEIGHT: 24px; TEXT-ALIGN: center
}
.topitem1 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 10px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 150%; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px solid
}
.topitem2 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 10px; BACKGROUND: #fafafa; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 150%; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px solid
}
.block_b_1 {
	BORDER-RIGHT: #ffc3ab 1px solid; TABLE-LAYOUT: fixed; BORDER-TOP: #ffc3ab 1px solid; BORDER-LEFT: #ffc3ab 1px solid; WIDTH: 143px; BORDER-BOTTOM: #ffc3ab 1px solid
}
.block_s_1 {
	HEIGHT: 24px; BACKGROUND-COLOR: #ffc3ab
}
A.title:link {
	COLOR: #c62700
}
A.title:visited {
	COLOR: #c62700
}
A.title:hover {
	COLOR: #c62700
}
A.title:active {
	COLOR: #c62700
}
.dash1 {
	BACKGROUND: url(http://www.it.com.cn/images/line_h.gif) repeat-x 50% bottom
}
.info-1 {
	PADDING-LEFT: 20px; BACKGROUND: url(http://shop.it.com.cn/images/icon_1.gif) no-repeat left center; OVERFLOW: hidden; WHITE-SPACE: normal
}
.info-2 {
	PADDING-LEFT: 20px; BACKGROUND: url(http://shop.it.com.cn/images/icon_2.gif) no-repeat left center; OVERFLOW: hidden; WHITE-SPACE: normal
}
